# Setup

In [1]:
import pandas as pd
import os
import datetime
import matplotlib.pyplot as plt
import numpy as np
#!pip install sql
#!pip uninstall pandasql

#pip install vaderSentiment
from vaderSentiment.vaderSentiment import SentimentIntensityAnalyzer
#pip install sklearn.preprocessing
#pip install sklearn
from sklearn.preprocessing import MinMaxScaler
from sklearn import preprocessing

# Import data

In [2]:
os.chdir(os.getcwd())
work_folder = "C:\\Users\\Utente\\Esercitazioni DataMan\\Dm_project\\Scripts\\DataMan_project\\Work26\\Sino\\"

In [3]:
tweet_sino = pd.read_csv(work_folder+'sino_tweet.csv')
sino = pd.read_csv(work_folder+'df_sino.csv')
sino_b = pd.read_csv(work_folder+'df_sino.csv')
#tweet_sino_b = pd.read_csv(work_folder+'sinopharm1.1.csv')

tweet_sino

,data,location,id,testo,username,replyCount,like,retweet_count,quoteCount,quote,...,lang,url,coordinates,place,followersCount,friendsCount,statusesCount,favouritesCount,listedCount,mediaCount
0,2021-05-24 23:56:36+00:00,"Toronto, Canada",1396978468794118144,@themojoguy @benwedge @EmmMacfarlane Especiall...,TheTradeLawGuy,1,0,0,0,0,...,en,https://twitter.com/TheTradeLawGuy/status/1396...,NaN,NaN,358,358,4803,4602,6,217
1,2021-05-24 23:53:37+00:00,"Toronto, Canada",1396977717967458304,@themojoguy @benwedge @EmmMacfarlane That can'...,TheTradeLawGuy,1,0,0,0,0,...,en,https://twitter.com/TheTradeLawGuy/status/1396...,NaN,NaN,358,358,4803,4602,6,217
2,2021-05-24 23:50:46+00:00,"Goderich, Ontario",1396977000691212291,@sunlorrie BS fear mongering article â€œAs an ex...,summeki,0,1,1,0,0,...,en,https://twitter.com/summeki/status/13969770006...,NaN,NaN,172,172,5005,1163,2,134
3,2021-05-24 23:47:57+00:00,Australia,1396976294798131202,@Virg2101 @ROO3sixty @Mooby_Doo @JohnRuddick2 ...,Christo69933840,0,0,0,0,0,...,en,https://twitter.com/Christo69933840/status/139...,NaN,NaN,83,83,27460,8460,5,8454
4,2021-05-24 23:43:51+00:00,Australia,1396975262290505728,@ROO3sixty @Virg2101 @Mooby_Doo @JohnRuddick2 ...,Christo69933840,0,0,0,0,0,...,en,https://twitter.com/Christo69933840/status/139...,NaN,NaN,83,83,27460,8460,5,8454
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
26688,2021-04-01 00:19:00+00:00,NaN,1377415163632963584,@Aintropy @DrEricDing No Chile is well vaccina...,freemarketgravy,1,0,0,0,0,...,en,https://twitter.com/freemarketgravy/status/137...,NaN,NaN,2,2,566,53,0,27
26689,2021-04-01 00:17:24+00:00,NaN,1377414761143406593,@DrEricDing Chile is like 75% vaccinated. Vacc...,freemarketgravy,1,1,0,1,1,...,en,https://twitter.com/freemarketgravy/status/137...,NaN,NaN,2,2,566,53,0,27
26690,2021-04-01 00:11:43+00:00,NaN,1377413330684444674,No detailed efficacy data of Sinopharm's COVID...,Keungtak1,0,0,0,0,0,...,en,https://twitter.com/Keungtak1/status/137741333...,NaN,NaN,4,4,1531,37,0,20
26691,2021-04-01 00:06:04+00:00,Manitoba,1377411907368316928,@ellaella963 @ccouja No. That one is from CanS...,jmt_18325,2,2,0,0,0,...,en,https://twitter.com/jmt_18325/status/137741190...,NaN,NaN,3081,3081,33878,120810,9,1311
26692,2021-04-01 00:00:36+00:00,"Beijing, China",1377410532857180169,Data provided by Chinese #vaccine makers Sinop...,CGTNOfficial,2,37,9,1,1,...,en,https://twitter.com/CGTNOfficial/status/137741...,NaN,NaN,13571749,13571749,171905,164,8059,94560

In [4]:
# Type datetime and timezone
sino['Datetime'] = pd.to_datetime(sino['Datetime'])
sino['Datetime']=sino['Datetime'].dt.tz_localize(None)

# Time delta for (-8 for timezone +1 for correlation)
hours= -7
hours_added = datetime.timedelta(hours = hours)
sino['Datetime']= sino['Datetime'] + hours_added

#sino.set_index('Datetime', inplace=True)
#sino=sino.loc["2021-04-08 00:30:00":]

# Result start
sino.head()

             Datetime       Open       High        Low      Close  Volume
0 2021-04-08 02:30:00  19.200001  19.379999  19.040001  19.299999       0
1 2021-04-08 02:31:00  19.219999  19.340000  19.219999  19.340000   56000
2 2021-04-08 02:32:00  19.320000  19.480000  19.320000  19.440001   70400
3 2021-04-08 02:33:00  19.420000  19.459999  19.360001  19.420000   43200
4 2021-04-08 02:34:00  19.480000  19.500000  19.320000  19.459999   74000

In [5]:
# Result end
sino.tail()

                Datetime       Open       High        Low      Close  Volume
9785 2021-05-21 08:55:00  25.500000  25.549999  25.450001  25.549999   24800
9786 2021-05-21 08:56:00  25.450001  25.450001  25.450001  25.450001   26800
9787 2021-05-21 08:57:00  25.549999  25.549999  25.450001  25.450001   76400
9788 2021-05-21 08:58:00  25.500000  25.549999  25.500000  25.549999    6400
9789 2021-05-21 08:59:00  25.549999  25.549999  25.350000  25.450001   53600

In [6]:
# Type datetime and timezone
tweet_sino['data'] = pd.to_datetime(tweet_sino['data'])
tweet_sino['data']=tweet_sino['data'].dt.tz_localize(None)

#file_tweet.set_index('data', inplace=True)
#file_tweet.index.rename('Datetime', inplace=True)
#sino['Datetime']=pd.to_datetime(sino['Datetime'],format='%H:%M')

# Backup for daily analysis

In [7]:
# Backup of tweet sino 
tweet_sino_c = tweet_sino

In [8]:
# Rename
tweet_sino = tweet_sino.rename(columns={'data': 'Datetime'})

# Sort
tweet_sino = tweet_sino.sort_values(by="Datetime")

#file_tweet['Datetime']=pd.to_datetime(file_tweet['Datetime'],format='%H:%M')
#file_tweet['Datetime']= df.index.map(lambda t: t.strftime('%Y-%m-%d %H:%M'))

#tweet_sino

In [9]:
# Delete minute and 
tweet_sino['Datetime'] = tweet_sino['Datetime'].dt.strftime('%Y-%m-%d %H')

#tweet_sino

In [10]:
# Change format (delete data of seconds)
#tweet_sino['Datetime'] = tweet_sino['Datetime'].values.astype('<M8[m]')
#tweet_sino['Datetime']

# Sentiment

In [11]:
analyzer = SentimentIntensityAnalyzer()
df =[]
for sentence in tweet_sino['testo']:
    vs = analyzer.polarity_scores(sentence)
    vs_df = pd.DataFrame.from_dict(vs.values(), orient='columns')
    df.append(vs_df[0][3])
    
tweet_sino['compound'] = df

tweet_sino['compound'].describe()

count    26693.000000
mean         0.126618
std          0.398445
min         -0.981600
25%          0.000000
50%          0.000000
75%          0.440400
max          0.995200
Name: compound, dtype: float64

# Sino Tweet _ hourly analyzes

In [12]:
sino_count=pd.DataFrame()

# Count tweet by hour
sino_count['N of Tweet']= tweet_sino.groupby('Datetime')['id'].count()

# Count like ecc by hour and divide by number of tweet
sino_count['sum of Nlike']= tweet_sino.groupby('Datetime')['like'].sum()
sino_count['median of Nlike']= tweet_sino.groupby('Datetime')['like'].median()
sino_count['avg of Nlike']= tweet_sino.groupby('Datetime')['like'].sum()/sino_count['N of Tweet']
sino_count['max of Nlike']= tweet_sino.groupby('Datetime')['like'].max()#sum()#/sino_count['N of Tweet']

sino_count['sum of retweet']= tweet_sino.groupby('Datetime')['retweet_count'].sum()
sino_count['median of retweet']= tweet_sino.groupby('Datetime')['retweet_count'].median()#sum()#/sino_count['N of Tweet']
sino_count['avg of retweet']= tweet_sino.groupby('Datetime')['retweet_count'].sum()/sino_count['N of Tweet']
sino_count['max of retweet']= tweet_sino.groupby('Datetime')['retweet_count'].max()

sino_count['sum of reply']= tweet_sino.groupby('Datetime')['replyCount'].sum()
sino_count['median of reply']= tweet_sino.groupby('Datetime')['replyCount'].median()#sum()#/sino_count['N of Tweet']
sino_count['avg of reply']= tweet_sino.groupby('Datetime')['replyCount'].sum()/sino_count['N of Tweet']
sino_count['max of reply']= tweet_sino.groupby('Datetime')['replyCount'].max()

sino_count['Comp']= tweet_sino.groupby('Datetime')['compound'].sum()/sino_count['N of Tweet']

sino_count.reset_index(inplace=True)
sino_count

,Datetime,N of Tweet,sum of Nlike,median of Nlike,avg of Nlike,max of Nlike,sum of retweet,median of retweet,avg of retweet,max of retweet,sum of reply,median of reply,avg of reply,max of reply,Comp
0,2021-04-01 00,11,47,1.0,4.272727,37,15,0.0,1.363636,9,8,1.0,0.727273,2,-0.176682
1,2021-04-01 01,13,225,2.0,17.307692,98,100,0.0,7.692308,60,27,1.0,2.076923,12,0.304000
2,2021-04-01 02,11,67,2.0,6.090909,22,20,1.0,1.818182,7,9,0.0,0.818182,5,0.303227
3,2021-04-01 03,11,62,1.0,5.636364,26,30,0.0,2.727273,17,2,0.0,0.181818,1,0.071600
4,2021-04-01 04,19,96,2.0,5.052632,38,25,0.0,1.315789,8,9,0.0,0.473684,5,0.145158
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1290,2021-05-24 19,21,43,0.0,2.047619,14,8,0.0,0.380952,4,15,1.0,0.714286,2,0.164195
1291,2021-05-24 20,13,37,1.0,2.846154,15,7,0.0,0.538462,4,5,0.0,0.384615,1,0.148938
1292,2021-05-24 21,16,1324,0.5,82.750000,1292,294,0.0,18.375000,291,54,0.0,3.375000,45,0.097787
1293,2021-05-24 22,13,6,0.0,0.461538,2,1,0.0,0.076923,1,5,0.0,0.384615,2,-0.108977
1294,2021-05-24 23,12,35,0.0,2.916667,30,5,0.0,0.416667,1,13,1.0,1.083333,4,0.114233

### Stock data

In [13]:
# Delete minutes
sino['Datetime'] = sino['Datetime'].dt.strftime('%Y-%m-%d %H')
sino = sino.drop_duplicates(subset='Datetime', keep="first")
sino.head()

          Datetime       Open       High        Low      Close  Volume
0    2021-04-08 02  19.200001  19.379999  19.040001  19.299999       0
30   2021-04-08 03  19.580000  19.600000  19.580000  19.580000   16104
89   2021-04-08 04  19.799999  19.799999  19.799999  19.799999    4400
149  2021-04-08 06  19.879999  19.900000  19.840000  19.879999  146800
209  2021-04-08 07  19.840000  19.879999  19.840000  19.860001   39600

In [14]:
# Merge stock data and tweet indices 
sino_int = sino.merge(sino_count, on='Datetime', how='left', indicator=False)
sino_int.head()

,Datetime,Open,High,Low,Close,Volume,N of Tweet,sum of Nlike,median of Nlike,avg of Nlike,max of Nlike,sum of retweet,median of retweet,avg of retweet,max of retweet,sum of reply,median of reply,avg of reply,max of reply,Comp
0,2021-04-08 02,19.200001,19.379999,19.040001,19.299999,0,7,11,1.0,1.571429,4,7,0.0,1.000000,4,1,0.0,0.142857,1,0.160457
1,2021-04-08 03,19.580000,19.600000,19.580000,19.580000,16104,11,45,2.0,4.090909,28,10,0.0,0.909091,5,11,1.0,1.000000,3,0.094036
2,2021-04-08 04,19.799999,19.799999,19.799999,19.799999,4400,5,29,3.0,5.800000,20,10,0.0,2.000000,9,2,0.0,0.400000,1,0.480400
3,2021-04-08 06,19.879999,19.900000,19.840000,19.879999,146800,17,141,0.0,8.294118,50,22,0.0,1.294118,8,11,1.0,0.647059,2,0.160194
4,2021-04-08 07,19.840000,19.879999,19.840000,19.860001,39600,11,20,1.0,1.818182,10,5,0.0,0.454545,4,8,0.0,0.727273,4,0.048609

In [15]:
sino_int.tail()

,Datetime,Open,High,Low,Close,Volume,N of Tweet,sum of Nlike,median of Nlike,avg of Nlike,max of Nlike,sum of retweet,median of retweet,avg of retweet,max of retweet,sum of reply,median of reply,avg of reply,max of reply,Comp
211,2021-05-21 03,25.700001,25.750000,25.650000,25.650000,58800,35,329,0.0,9.400000,165,117,0.0,3.342857,58,44,0.0,1.257143,21,0.055940
212,2021-05-21 04,25.700001,25.700001,25.650000,25.650000,5200,20,111,1.0,5.550000,57,32,0.0,1.600000,11,16,0.0,0.800000,9,0.080310
213,2021-05-21 06,25.650000,25.700001,25.650000,25.650000,3600,31,127,0.0,4.096774,41,44,0.0,1.419355,15,14,0.0,0.451613,3,0.093523
214,2021-05-21 07,25.549999,25.549999,25.549999,25.549999,1200,30,46,0.0,1.533333,16,14,0.0,0.466667,8,18,1.0,0.600000,2,0.047060
215,2021-05-21 08,25.400000,25.500000,25.400000,25.500000,5600,36,79,0.0,2.194444,18,7,0.0,0.194444,5,21,0.0,0.583333,3,0.138467

In [16]:
sino_int.describe()

,Open,High,Low,Close,Volume,N of Tweet,sum of Nlike,median of Nlike,avg of Nlike,max of Nlike,sum of retweet,median of retweet,avg of retweet,max of retweet,sum of reply,median of reply,avg of reply,max of reply,Comp
count,216.000000,216.000000,216.000000,216.000000,2.160000e+02,216.000000,216.000000,216.000000,216.000000,216.000000,216.000000,216.000000,216.000000,216.000000,216.000000,216.000000,216.000000,216.000000,216.000000
mean,23.916806,24.004907,23.830417,23.930787,1.703040e+05,20.046296,206.134259,0.944444,10.611306,139.351852,45.546296,0.074074,2.503036,31.745370,22.050926,0.289352,1.124822,10.444444,0.142281
std,1.985140,2.015463,1.974240,1.999399,3.785567e+05,13.620016,541.918063,3.103137,31.047012,485.298485,123.781795,0.557464,9.766061,116.243029,30.803989,0.522363,1.744446,20.103376,0.126373
min,19.200001,19.379999,19.040001,19.299999,0.000000e+00,1.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,-0.195375
25%,23.287499,23.387500,23.137500,23.200001,4.000000e+03,10.000000,22.750000,0.000000,1.688586,10.000000,5.000000,0.000000,0.363636,3.000000,5.000000,0.000000,0.408824,2.000000,0.059926
50%,24.150000,24.150000,24.100000,24.150000,2.340000e+04,17.000000,79.500000,0.500000,3.910776,33.000000,17.000000,0.000000,0.918831,8.500000,12.000000,0.000000,0.663842,3.500000,0.134781
75%,25.612500,25.750000,25.500000,25.650000,1.028000e+05,27.000000,172.500000,1.000000,8.291271,94.250000,42.000000,0.000000,1.773529,20.250000,26.000000,0.500000,1.144643,10.250000,0.207008
max,26.799999,27.150000,26.750000,27.100000,2.490400e+06,89.000000,6269.000000,40.500000,391.666667,5822.000000,1480.000000,7.500000,137.333333,1414.000000,243.000000,3.500000,16.090909,182.000000,0.576675

In [17]:
norm = sino_int['Comp']
min_max_scaler = preprocessing.MinMaxScaler()
x_scaled = min_max_scaler.fit_transform(np.array(norm).reshape(-1,1))
sino_int['Comp'] = x_scaled

In [18]:
sino_int.describe()

,Open,High,Low,Close,Volume,N of Tweet,sum of Nlike,median of Nlike,avg of Nlike,max of Nlike,sum of retweet,median of retweet,avg of retweet,max of retweet,sum of reply,median of reply,avg of reply,max of reply,Comp
count,216.000000,216.000000,216.000000,216.000000,2.160000e+02,216.000000,216.000000,216.000000,216.000000,216.000000,216.000000,216.000000,216.000000,216.000000,216.000000,216.000000,216.000000,216.000000,216.000000
mean,23.916806,24.004907,23.830417,23.930787,1.703040e+05,20.046296,206.134259,0.944444,10.611306,139.351852,45.546296,0.074074,2.503036,31.745370,22.050926,0.289352,1.124822,10.444444,0.437350
std,1.985140,2.015463,1.974240,1.999399,3.785567e+05,13.620016,541.918063,3.103137,31.047012,485.298485,123.781795,0.557464,9.766061,116.243029,30.803989,0.522363,1.744446,20.103376,0.163685
min,19.200001,19.379999,19.040001,19.299999,0.000000e+00,1.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
25%,23.287499,23.387500,23.137500,23.200001,4.000000e+03,10.000000,22.750000,0.000000,1.688586,10.000000,5.000000,0.000000,0.363636,3.000000,5.000000,0.000000,0.408824,2.000000,0.330679
50%,24.150000,24.150000,24.100000,24.150000,2.340000e+04,17.000000,79.500000,0.500000,3.910776,33.000000,17.000000,0.000000,0.918831,8.500000,12.000000,0.000000,0.663842,3.500000,0.427635
75%,25.612500,25.750000,25.500000,25.650000,1.028000e+05,27.000000,172.500000,1.000000,8.291271,94.250000,42.000000,0.000000,1.773529,20.250000,26.000000,0.500000,1.144643,10.250000,0.521187
max,26.799999,27.150000,26.750000,27.100000,2.490400e+06,89.000000,6269.000000,40.500000,391.666667,5822.000000,1480.000000,7.500000,137.333333,1414.000000,243.000000,3.500000,16.090909,182.000000,1.000000

# Save Data

In [20]:
sino_int['Datetime'] = pd.to_datetime(sino_int['Datetime'])
sino_int['Date'] = pd.to_datetime(sino_int['Datetime']).dt.date
sino_int['Date'] = pd.to_datetime(sino_int['Date'])
sino_int.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 216 entries, 0 to 215
Data columns (total 21 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   Datetime           216 non-null    datetime64[ns]
 1   Open               216 non-null    float64
 2   High               216 non-null    float64
 3   Low                216 non-null    float64
 4   Close              216 non-null    float64
 5   Volume             216 non-null    int64
 6   N of Tweet         216 non-null    int64
 7   sum of Nlike       216 non-null    int64
 8   median of Nlike    216 non-null    float64
 9   avg of Nlike       216 non-null    float64
 10  max of Nlike       216 non-null    int64
 11  sum of retweet     216 non-null    int64
 12  median of retweet  216 non-null    float64
 13  avg of retweet     216 non-null    float64
 14  max of retweet     216 non-null    int64
 15  sum of reply       216 non-null    int64
 16  median of reply    216 non-null    float64
 17  avg of reply       216 non-null    float64
 18  max of reply       216 non-null    int64
 19  Comp               216 non-null    float64
 20  Date               216 non-null    datetime64[ns]
dtypes: datetime64[ns](2), float64(11), int64(8)
memory usage: 37.1 KB

In [21]:
os.chdir(os.getcwd())
work_folder = "C:\\Users\\Utente\\Esercitazioni DataMan\\Dm_project\\Scripts\\DataMan_project\\Dataset_integrati\\Sino\\"
#sino_int.to_csv(work_folder+'sino_H_integrato.csv')
sino_int.to_csv(work_folder+'sino_H_integrato.csv', sep=';')

# Daily analysis

In [22]:
# Type datetime and timezone
sino_b['Datetime'] = pd.to_datetime(sino_b['Datetime'])
sino_b['Datetime']=sino_b['Datetime'].dt.tz_localize(None)

# Time delta for (-8 for timezone)
hours= -8
hours_added = datetime.timedelta(hours = hours)
sino_b['Datetime']= sino_b['Datetime'] + hours_added

#sino.set_index('Datetime', inplace=True)
#sino=sino.loc["2021-04-08 00:30:00":]

# Result start
sino_b.head()

             Datetime       Open       High        Low      Close  Volume
0 2021-04-08 01:30:00  19.200001  19.379999  19.040001  19.299999       0
1 2021-04-08 01:31:00  19.219999  19.340000  19.219999  19.340000   56000
2 2021-04-08 01:32:00  19.320000  19.480000  19.320000  19.440001   70400
3 2021-04-08 01:33:00  19.420000  19.459999  19.360001  19.420000   43200
4 2021-04-08 01:34:00  19.480000  19.500000  19.320000  19.459999   74000

In [23]:
sino_b.tail()

                Datetime       Open       High        Low      Close  Volume
9785 2021-05-21 07:55:00  25.500000  25.549999  25.450001  25.549999   24800
9786 2021-05-21 07:56:00  25.450001  25.450001  25.450001  25.450001   26800
9787 2021-05-21 07:57:00  25.549999  25.549999  25.450001  25.450001   76400
9788 2021-05-21 07:58:00  25.500000  25.549999  25.500000  25.549999    6400
9789 2021-05-21 07:59:00  25.549999  25.549999  25.350000  25.450001   53600

In [24]:
# Time delta for time interval
hours= +32   #+24
hours_added = datetime.timedelta(hours = hours)
tweet_sino_c['data']= tweet_sino_c['data'] + hours_added

# Rename
tweet_sino_c = tweet_sino_c.rename(columns={'data': 'Datetime'})

# Sort
tweet_sino_c = tweet_sino_c.sort_values(by="Datetime")

# Delete hour and minutes
tweet_sino_c['date'] = pd.to_datetime(tweet_sino_c['Datetime']).dt.date

# Create column for number of day (0 is Sunday, 6 is Saturday)
tweet_sino_c['day_of_week'] = tweet_sino_c['Datetime'].dt.strftime('%w')

In [25]:
# Add a day on for every Sunday
hours=+24
hours_added = datetime.timedelta(hours = hours)

tweet_sino_c['Datetime'] = np.where(
    tweet_sino_c['day_of_week'] == '0',tweet_sino_c['Datetime']+hours_added,tweet_sino_c['Datetime'])

# Add two day on for every Saturday
hours=+48
hours_added = datetime.timedelta(hours = hours)

tweet_sino_c['Datetime'] = np.where(
    tweet_sino_c['day_of_week'] == '6',tweet_sino_c['Datetime']+hours_added,tweet_sino_c['Datetime'])

In [26]:
# Sunday on Monday
tweet_sino_c[tweet_sino_c['day_of_week']=='0']

,Datetime,location,id,testo,username,replyCount,like,retweet_count,quoteCount,quote,...,coordinates,place,followersCount,friendsCount,statusesCount,favouritesCount,listedCount,mediaCount,date,day_of_week
26200,2021-04-05 00:00:05,Maldives,1378014379879268353,Sinopharm vaccine works by using killed virus ...,HPA_MV,0,18,16,0,0,...,NaN,NaN,65851,65851,12724,6172,127,5342,2021-04-04,0
26199,2021-04-05 00:08:16,"Gurgaon, India",1378016442881175552,Experts disapprove using Chinese vaccine Sinop...,sas96553801,0,0,1,0,0,...,NaN,NaN,1563,1563,34439,23749,4,4384,2021-04-04,0
26198,2021-04-05 00:11:27,uXbRiDgE/ IslAMaBAD,1378017242940534787,@IssamAhmed But is it better than the free Sin...,elCampeone,1,0,0,0,0,...,NaN,NaN,4205,4205,78243,163930,45,576,2021-04-04,0
26197,2021-04-05 00:17:30,"Washington, DC",1378018765774991363,@elCampeone If I had to guesstimate based on c...,IssamAhmed,0,1,1,0,0,...,NaN,NaN,13727,13727,2419,20530,205,71,2021-04-04,0
26196,2021-04-05 00:18:20,Lahore,1378018974319927302,@AmberRShamsi Sinopharm vaccine is effective a...,haleemak_,2,12,2,0,0,...,NaN,NaN,10683,10683,66429,53699,45,2230,2021-04-04,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1237,2021-05-24 23:46:30,Ghar Baar nahin Sansar nahi..,1396130355493490692,@dp_satish @nistula @RajapaksaNamal Sri Lanka ...,FaceLessOK,2,0,0,0,0,...,NaN,NaN,1437,1437,40072,11773,10,3128,2021-05-23,0
1236,2021-05-24 23:49:57,Pakistan,1396131225019068418,@the_game261 @MazherArshad KSA is only accepti...,saleemzahid007,2,0,0,0,0,...,NaN,NaN,138,138,2210,41625,0,73,2021-05-23,0
1235,2021-05-24 23:53:09,NaN,1396132029016719362,@FaheemYounus Also could you please shed some ...,talhaabdulghani,0,0,0,0,0,...,NaN,NaN,39,39,393,857,0,22,2021-05-23,0
1234,2021-05-24 23:53:36,"Island of misfit toys, India",1396132144422932480,@mastis50 @timesofindia Level of antibodies in...,BasakArnab,1,0,0,0,0,...,NaN,NaN,283,283,4249,719,2,233,2021-05-23,0
1233,2021-05-24 23:54:03,Pakistan,1396132255639220224,@SaudiMOH937 \nCan some one tell us?\nThat sin...,redeyes7474,0,0,0,0,0,...,NaN,NaN,3557,3557,6522,4432,1,77,2021-05-23,0

In [27]:
# Saturday on Monday
tweet_sino_c[tweet_sino_c['day_of_week']=='6']

,Datetime,location,id,testo,username,replyCount,like,retweet_count,quoteCount,quote,...,coordinates,place,followersCount,friendsCount,statusesCount,favouritesCount,listedCount,mediaCount,date,day_of_week
26457,2021-04-05 00:02:50,"Tbilisi, Georgia",1377652687479640067,"Georgia to receive Chinese vaccines Sinopharm,...",ghiageo,0,0,0,0,0,...,NaN,NaN,802,802,29170,1419,7,216,2021-04-03,6
26456,2021-04-05 00:03:35,"Nashville, Tennessee",1377652873845207046,alhamdullilah!!!! my dad got the sinopharm vac...,MalakaGharib,8,179,0,0,0,...,NaN,NaN,13754,13754,17808,35768,364,2148,2021-04-03,6
26455,2021-04-05 00:03:40,Tbilisi,1377652896892923911,Amiran Gamkrelidze: 100 thousand doses of Chin...,ipnEng,0,0,1,0,0,...,NaN,NaN,658,658,5255,1,25,290,2021-04-03,6
26454,2021-04-05 00:13:45,"Harare, Zimbabwe",1377655432118931461,Zim To Buy A Million Vaccine Dosses Every Mont...,healthtimeszim,0,2,2,0,0,...,NaN,NaN,11152,11152,17196,13205,8,3126,2021-04-03,6
26453,2021-04-05 00:14:55,NaN,1377655726454235141,#Sinopharm\n#Sinovac\n\nChinese's vaccines htt...,NachoVicenteLa1,0,0,0,0,0,...,NaN,NaN,147,147,1667,7574,1,455,2021-04-03,6
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1980,2021-05-24 23:55:12,Trinidad,1395770157738438662,Shot 1 of 2 down...half vaxxed with Sinopharm....,nadyakshah,7,416,25,4,4,...,NaN,NaN,957,957,6664,3933,25,854,2021-05-22,6
1979,2021-05-24 23:56:16,Namibia,1395770424856883201,Vice President Nangolo Mbumba got his first do...,NewEraNewspaper,2,41,5,3,3,...,NaN,NaN,93285,93285,58957,375,219,37369,2021-05-22,6
1978,2021-05-24 23:56:54,Pakistan,1395770584882192384,Covid-19 vaccine: China to send 6 lakh more Si...,MiddleEastTon,0,0,0,0,0,...,NaN,NaN,487,487,449191,27,14,31462,2021-05-22,6
1977,2021-05-24 23:58:34,NaN,1395771006971781121,@dylanhead94 @freemarketUP Well we already kno...,BurntOutCase,1,4,0,0,0,...,NaN,NaN,1351,1351,55444,73127,19,197,2021-05-22,6
1976,2021-05-24 23:59:23,NaN,1395771210508668933,@OfficialNcoc Sinopharm is not approved in sau...,ranaadill4178,0,0,0,0,0,...,NaN,NaN,2,2,13,19,0,4,2021-05-22,6

### Sentiment

In [28]:
analyzer = SentimentIntensityAnalyzer()
df =[]
for sentence in tweet_sino_c['testo']:
    vs = analyzer.polarity_scores(sentence)
    vs_df = pd.DataFrame.from_dict(vs.values(), orient='columns')
    df.append(vs_df[0][3])
    
tweet_sino_c['compound'] = df

In [29]:
tweet_sino_c['compound'].describe()

count    26693.000000
mean         0.126618
std          0.398445
min         -0.981600
25%          0.000000
50%          0.000000
75%          0.440400
max          0.995200
Name: compound, dtype: float64

# Count

In [30]:
# Rewrite date for weekend
tweet_sino_c['date'] = pd.to_datetime(tweet_sino_c['Datetime']).dt.date

In [31]:
sino_count=pd.DataFrame()

# Count tweet by date 
sino_count['N of Tweet']= tweet_sino_c.groupby('date')['id'].count()
# Count like ecc
sino_count['sum of Nlike']= tweet_sino_c.groupby('date')['like'].sum()
sino_count['median of Nlike']= tweet_sino_c.groupby('date')['like'].median()
sino_count['avg of Nlike']= tweet_sino_c.groupby('date')['like'].sum()/sino_count['N of Tweet']
sino_count['max of Nlike']= tweet_sino_c.groupby('date')['like'].max()#.sum()#/sino_count['N of Tweet']

sino_count['sum of retweet']= tweet_sino_c.groupby('date')['retweet_count'].sum()
sino_count['median of retweet']= tweet_sino_c.groupby('date')['retweet_count'].median()#.sum()#/sino_count['N of Tweet']
sino_count['avg of retweet']= tweet_sino_c.groupby('date')['retweet_count'].sum()/sino_count['N of Tweet']
sino_count['max of retweet']= tweet_sino_c.groupby('date')['retweet_count'].max()

sino_count['sum of reply']= tweet_sino_c.groupby('date')['replyCount'].sum()
sino_count['median of reply']= tweet_sino_c.groupby('date')['replyCount'].median()
sino_count['avg of reply']= tweet_sino_c.groupby('date')['replyCount'].sum()/sino_count['N of Tweet']
sino_count['max of reply']= tweet_sino_c.groupby('date')['replyCount'].max()#/sino_count['N of Tweet']

sino_count['Comp']= tweet_sino_c.groupby('date')['compound'].sum()/sino_count['N of Tweet']

sino_count.reset_index(inplace=True)
sino_count = sino_count.rename(columns={'date': 'Datetime'})
sino_count

,Datetime,N of Tweet,sum of Nlike,median of Nlike,avg of Nlike,max of Nlike,sum of retweet,median of retweet,avg of retweet,max of retweet,sum of reply,median of reply,avg of reply,max of reply,Comp
0,2021-04-02,235,1836,1.0,7.812766,559,641,0,2.727660,217,160,0,0.680851,12,0.130445
1,2021-04-05,808,7086,1.0,8.769802,1095,1549,0,1.917079,298,663,0,0.820545,90,0.153905
2,2021-04-06,282,2606,1.0,9.241135,1202,683,0,2.421986,288,254,0,0.900709,44,0.172381
3,2021-04-07,310,2720,1.0,8.774194,889,989,0,3.190323,586,252,0,0.812903,20,0.144525
4,2021-04-08,384,2422,1.0,6.307292,536,650,0,1.692708,214,326,0,0.848958,36,0.124112
5,2021-04-09,280,1518,1.0,5.421429,335,383,0,1.367857,143,187,0,0.667857,23,0.124466
6,2021-04-12,833,7806,1.0,9.370948,3197,2090,0,2.509004,686,777,0,0.932773,66,0.160472
7,2021-04-13,450,1868,1.0,4.151111,146,549,0,1.220000,51,306,0,0.680000,11,0.097474
8,2021-04-14,265,852,0.0,3.215094,108,225,0,0.849057,31,159,0,0.600000,13,0.127500
9,2021-04-15,276,1137,1.0,4.119565,105,244,0,0.884058,27,174,0,0.630435,9,0.110022
10,2021-04-16,202,2104,1.0,10.415842,417,413,0,2.044554,95,211,0,1.044554,40,0.085033
11,2021-04-19,504,6767,0.0,13.426587,804,3081,0,6.113095,647,490,0,0.972222,59,0.077158
12,2021-04-20,173,460,0.0,2.658960,55,124,0,0.716763,16,83,0,0.479769,5,0.083596
13,2021-04-21,201,789,1.0,3.925373,113,284,0,1.412935,37,143,0,0.711443,20,0.108812
14,2021-04-22,240,2505,1.0,10.437500,1287,457,0,1.904167,90,220,0,0.916667,38,0.192752
15,2021-04-23,229,1453,1.0,6.344978,385,462,0,2.017467,127,217,0,0.947598,51,0.125884
16,2021-04-26,623,7423,1.0,11.914928,2343,2343,0,3.760835,823,530,0,0.850722,58,0.180518
17,2021-04-27,304,3927,1.0,12.917763,1285,812,0,2.671053,275,276,0,0.907895,21,0.095635
18,2021-04-28,299,3140,0.0,10.501672,1105,1016,0,3.397993,638,494,0,1.652174,123,0.112963
19,2021-04-29,342,2706,0.5,7.912281,866,425,0,1.242690,102,367,0,1.073099,60,0.171820
20,2021-04-30,375,1922,1.0,5.125333,317,471,0,1.256000,110,290,0,0.773333,19,0.171759
21,2021-05-03,907,9124,0.0,10.059537,2828,1485,0,1.637266,118,875,0,0.964719,182,0.127373
22,2021-05-04,563,17714,1.0,31.463588,7503,3730,0,6.625222,1613,1733,0,3.078153,211,0.142064
23,2021-05-05,732,15995,1.0,21.851093,7518,3619,0,4.943989,1584,987,0,1.348361,66,0.146166
24,2021-05-06,799,6943,1.0,8.689612,1870,1907,0,2.386733,303,1008,0,1.261577,178,0.159095
25,2021-05-07,973,5765,0.0,5.924974,487,1577,0,1.620761,194,1030,0,1.058582,59,0.107652
26,2021-05-10,5155,52037,0.0,10.094471,5058,17773,0,3.447721,2299,7469,0,1.448885,1602,0.112880
27,2021-05-11,721,4429,0.0,6.142857,1304,1367,0,1.895978,441,616,0,0.854369,98,0.130124
28,2021-05-12,688,4991,0.0,7.254360,517,1049,0,1.524709,95,648,0,0.941860,55,0.116557
29,2021-05-13,860,10095,1.0,11.738372,1362,2595,0,3.017442,353,2266,0,2.634884,1303,0.120764
30,2021-05-14,843,6048,1.0,7.174377,500,1782,0,2.113879,334,744,0,0.882562,35,0.098331
31,2021-05-17,1388,8517,0.0,6.136167,1047,2039,0,1.469020,174,1162,0,0.837176,79,0.105711
32,2021-05-18,471,3120,1.0,6.624204,418,579,0,1.229299,40,439,0,0.932059,24,0.146841
33,2021-05-19,639,4293,0.0,6.718310,904,1042,0,1.630673,232,594,0,0.929577,102,0.100055
34,2021-05-20,870,7172,0.0,8.243678,606,2070,0,2.379310,128,682,0,0.783908,68,0.094504
35,2021-05-21,855,12143,0.0,14.202339,5822,3084,0,3.607018,1414,856,0,1.001170,122,0.134908
36,2021-05-24,2002,18861,0.0,9.421079,1236,7021,0,3.506993,1968,1780,0,0.889111,74,0.155165
37,2021-05-25,488,2510,0.0,5.143443,250,409,0,0.838115,38,478,0,0.979508,55,0.148009
38,2021-05-26,124,1567,0.0,12.637097,1292,363,0,2.927419,291,114,0,0.919355,45,0.031685

In [32]:
sino_count['Datetime'] = pd.to_datetime(sino_count['Datetime'])
sino_count['day_of_week'] = sino_count['Datetime'].dt.strftime('%w')

In [33]:
sino_count['N of Tweet'] = np.where(
    sino_count['day_of_week'] == '1',sino_count['N of Tweet']/3,sino_count['N of Tweet'])

sino_count['sum of Nlike'] = np.where(
    sino_count['day_of_week'] == '1',sino_count['sum of Nlike']/3,sino_count['sum of Nlike'])

sino_count['sum of retweet'] = np.where(
    sino_count['day_of_week'] == '1',sino_count['sum of retweet']/3,sino_count['sum of retweet'])

sino_count['sum of reply'] = np.where(
    sino_count['day_of_week'] == '1',sino_count['sum of reply']/3,sino_count['sum of reply'])

sino_count

,Datetime,N of Tweet,sum of Nlike,median of Nlike,avg of Nlike,max of Nlike,sum of retweet,median of retweet,avg of retweet,max of retweet,sum of reply,median of reply,avg of reply,max of reply,Comp,day_of_week
0,2021-04-02,235.000000,1836.000000,1.0,7.812766,559,641.000000,0,2.727660,217,160.000000,0,0.680851,12,0.130445,5
1,2021-04-05,269.333333,2362.000000,1.0,8.769802,1095,516.333333,0,1.917079,298,221.000000,0,0.820545,90,0.153905,1
2,2021-04-06,282.000000,2606.000000,1.0,9.241135,1202,683.000000,0,2.421986,288,254.000000,0,0.900709,44,0.172381,2
3,2021-04-07,310.000000,2720.000000,1.0,8.774194,889,989.000000,0,3.190323,586,252.000000,0,0.812903,20,0.144525,3
4,2021-04-08,384.000000,2422.000000,1.0,6.307292,536,650.000000,0,1.692708,214,326.000000,0,0.848958,36,0.124112,4
5,2021-04-09,280.000000,1518.000000,1.0,5.421429,335,383.000000,0,1.367857,143,187.000000,0,0.667857,23,0.124466,5
6,2021-04-12,277.666667,2602.000000,1.0,9.370948,3197,696.666667,0,2.509004,686,259.000000,0,0.932773,66,0.160472,1
7,2021-04-13,450.000000,1868.000000,1.0,4.151111,146,549.000000,0,1.220000,51,306.000000,0,0.680000,11,0.097474,2
8,2021-04-14,265.000000,852.000000,0.0,3.215094,108,225.000000,0,0.849057,31,159.000000,0,0.600000,13,0.127500,3
9,2021-04-15,276.000000,1137.000000,1.0,4.119565,105,244.000000,0,0.884058,27,174.000000,0,0.630435,9,0.110022,4
10,2021-04-16,202.000000,2104.000000,1.0,10.415842,417,413.000000,0,2.044554,95,211.000000,0,1.044554,40,0.085033,5
11,2021-04-19,168.000000,2255.666667,0.0,13.426587,804,1027.000000,0,6.113095,647,163.333333,0,0.972222,59,0.077158,1
12,2021-04-20,173.000000,460.000000,0.0,2.658960,55,124.000000,0,0.716763,16,83.000000,0,0.479769,5,0.083596,2
13,2021-04-21,201.000000,789.000000,1.0,3.925373,113,284.000000,0,1.412935,37,143.000000,0,0.711443,20,0.108812,3
14,2021-04-22,240.000000,2505.000000,1.0,10.437500,1287,457.000000,0,1.904167,90,220.000000,0,0.916667,38,0.192752,4
15,2021-04-23,229.000000,1453.000000,1.0,6.344978,385,462.000000,0,2.017467,127,217.000000,0,0.947598,51,0.125884,5
16,2021-04-26,207.666667,2474.333333,1.0,11.914928,2343,781.000000,0,3.760835,823,176.666667,0,0.850722,58,0.180518,1
17,2021-04-27,304.000000,3927.000000,1.0,12.917763,1285,812.000000,0,2.671053,275,276.000000,0,0.907895,21,0.095635,2
18,2021-04-28,299.000000,3140.000000,0.0,10.501672,1105,1016.000000,0,3.397993,638,494.000000,0,1.652174,123,0.112963,3
19,2021-04-29,342.000000,2706.000000,0.5,7.912281,866,425.000000,0,1.242690,102,367.000000,0,1.073099,60,0.171820,4
20,2021-04-30,375.000000,1922.000000,1.0,5.125333,317,471.000000,0,1.256000,110,290.000000,0,0.773333,19,0.171759,5
21,2021-05-03,302.333333,3041.333333,0.0,10.059537,2828,495.000000,0,1.637266,118,291.666667,0,0.964719,182,0.127373,1
22,2021-05-04,563.000000,17714.000000,1.0,31.463588,7503,3730.000000,0,6.625222,1613,1733.000000,0,3.078153,211,0.142064,2
23,2021-05-05,732.000000,15995.000000,1.0,21.851093,7518,3619.000000,0,4.943989,1584,987.000000,0,1.348361,66,0.146166,3
24,2021-05-06,799.000000,6943.000000,1.0,8.689612,1870,1907.000000,0,2.386733,303,1008.000000,0,1.261577,178,0.159095,4
25,2021-05-07,973.000000,5765.000000,0.0,5.924974,487,1577.000000,0,1.620761,194,1030.000000,0,1.058582,59,0.107652,5
26,2021-05-10,1718.333333,17345.666667,0.0,10.094471,5058,5924.333333,0,3.447721,2299,2489.666667,0,1.448885,1602,0.112880,1
27,2021-05-11,721.000000,4429.000000,0.0,6.142857,1304,1367.000000,0,1.895978,441,616.000000,0,0.854369,98,0.130124,2
28,2021-05-12,688.000000,4991.000000,0.0,7.254360,517,1049.000000,0,1.524709,95,648.000000,0,0.941860,55,0.116557,3
29,2021-05-13,860.000000,10095.000000,1.0,11.738372,1362,2595.000000,0,3.017442,353,2266.000000,0,2.634884,1303,0.120764,4
30,2021-05-14,843.000000,6048.000000,1.0,7.174377,500,1782.000000,0,2.113879,334,744.000000,0,0.882562,35,0.098331,5
31,2021-05-17,462.666667,2839.000000,0.0,6.136167,1047,679.666667,0,1.469020,174,387.333333,0,0.837176,79,0.105711,1
32,2021-05-18,471.000000,3120.000000,1.0,6.624204,418,579.000000,0,1.229299,40,439.000000,0,0.932059,24,0.146841,2
33,2021-05-19,639.000000,4293.000000,0.0,6.718310,904,1042.000000,0,1.630673,232,594.000000,0,0.929577,102,0.100055,3
34,2021-05-20,870.000000,7172.000000,0.0,8.243678,606,2070.000000,0,2.379310,128,682.000000,0,0.783908,68,0.094504,4
35,2021-05-21,855.000000,12143.000000,0.0,14.202339,5822,3084.000000,0,3.607018,1414,856.000000,0,1.001170,122,0.134908,5
36,2021-05-24,667.333333,6287.000000,0.0,9.421079,1236,2340.333333,0,3.506993,1968,593.333333,0,0.889111,74,0.155165,1
37,2021-05-25,488.000000,2510.000000,0.0,5.143443,250,409.000000,0,0.838115,38,478.000000,0,0.979508,55,0.148009,2
38,2021-05-26,124.000000,1567.000000,0.0,12.637097,1292,363.000000,0,2.927419,291,114.000000,0,0.919355,45,0.031685,3

In [34]:
# Delete hour from stock dataset
sino['Datetime'] = pd.to_datetime(sino['Datetime']).dt.date

# Drop duplicate and take only closing price 
sino = sino.drop_duplicates(subset='Datetime', keep="last")
sino.head()

        Datetime       Open       High        Low      Close   Volume
326   2021-04-08  19.959999  19.959999  19.620001  19.680000   744000
628   2021-04-09  19.840000  20.049999  19.840000  20.049999   502800
948   2021-04-12  20.650000  20.650000  20.049999  20.200001  1083200
1269  2021-04-13  20.750000  21.000000  20.750000  21.000000  2466800
1573  2021-04-14  20.750000  20.950001  20.750000  20.950001   310000

In [35]:
sino['Datetime'] = pd.to_datetime(sino['Datetime'])

In [36]:
# Merge stock and daily analysis
sino_int = sino.merge(sino_count, on='Datetime', how='left', indicator=False)
sino_int.head()

,Datetime,Open,High,Low,Close,Volume,N of Tweet,sum of Nlike,median of Nlike,avg of Nlike,...,sum of retweet,median of retweet,avg of retweet,max of retweet,sum of reply,median of reply,avg of reply,max of reply,Comp,day_of_week
0,2021-04-08,19.959999,19.959999,19.620001,19.680000,744000,384.000000,2422.0,1.0,6.307292,...,650.000000,0,1.692708,214,326.0,0,0.848958,36,0.124112,4
1,2021-04-09,19.840000,20.049999,19.840000,20.049999,502800,280.000000,1518.0,1.0,5.421429,...,383.000000,0,1.367857,143,187.0,0,0.667857,23,0.124466,5
2,2021-04-12,20.650000,20.650000,20.049999,20.200001,1083200,277.666667,2602.0,1.0,9.370948,...,696.666667,0,2.509004,686,259.0,0,0.932773,66,0.160472,1
3,2021-04-13,20.750000,21.000000,20.750000,21.000000,2466800,450.000000,1868.0,1.0,4.151111,...,549.000000,0,1.220000,51,306.0,0,0.680000,11,0.097474,2
4,2021-04-14,20.750000,20.950001,20.750000,20.950001,310000,265.000000,852.0,0.0,3.215094,...,225.000000,0,0.849057,31,159.0,0,0.600000,13,0.127500,3

In [37]:
sino_int['median of Nlike'].min()

0.0

In [38]:
sino_int.describe()

,Open,High,Low,Close,Volume,N of Tweet,sum of Nlike,median of Nlike,avg of Nlike,max of Nlike,sum of retweet,median of retweet,avg of retweet,max of retweet,sum of reply,median of reply,avg of reply,max of reply,Comp
count,31.000000,31.000000,31.000000,31.000000,3.100000e+01,31.000000,31.000000,31.000000,31.000000,31.000000,31.000000,31.0,31.000000,31.000000,31.000000,31.0,31.000000,31.000000,31.000000
mean,23.961290,24.279355,23.655161,24.034839,8.866839e+05,501.021505,4896.000000,0.596774,9.153751,1620.774194,1273.473118,0.0,2.353503,425.870968,588.053763,0.0,1.055412,152.709677,0.125579
std,1.945000,2.084406,1.906927,2.052923,5.824633e+05,339.182622,4828.369466,0.490227,5.728263,2088.222094,1311.337363,0.0,1.450035,565.145866,599.108350,0.0,0.542351,352.969705,0.029562
min,19.840000,19.959999,19.620001,19.680000,0.000000e+00,168.000000,460.000000,0.000000,2.658960,55.000000,124.000000,0.0,0.716763,16.000000,83.000000,0.0,0.479769,5.000000,0.077158
25%,23.500000,23.650000,22.775000,23.050000,5.494000e+05,270.500000,2013.000000,0.000000,6.030571,401.000000,459.500000,0.0,1.390396,95.000000,214.000000,0.0,0.810542,23.500000,0.106681
50%,24.150000,24.450001,24.150000,24.400000,7.340000e+05,375.000000,2839.000000,1.000000,7.912281,804.000000,696.666667,0.0,1.904167,174.000000,326.000000,0.0,0.932059,58.000000,0.124112
75%,25.575000,25.875000,25.200000,25.500000,1.131000e+06,726.500000,5906.500000,1.000000,10.469586,1616.000000,1679.500000,0.0,2.844247,539.500000,713.000000,0.0,1.051568,88.500000,0.144115
max,26.700001,27.049999,26.650000,27.049999,2.490400e+06,1718.333333,17714.000000,1.000000,31.463588,7518.000000,5924.333333,0.0,6.625222,2299.000000,2489.666667,0.0,3.078153,1602.000000,0.192752

In [39]:
norm = sino_int['Comp']
min_max_scaler = preprocessing.MinMaxScaler()
x_scaled = min_max_scaler.fit_transform(np.array(norm).reshape(-1,1))
sino_int['Comp'] = x_scaled

In [40]:
sino_int.describe()

,Open,High,Low,Close,Volume,N of Tweet,sum of Nlike,median of Nlike,avg of Nlike,max of Nlike,sum of retweet,median of retweet,avg of retweet,max of retweet,sum of reply,median of reply,avg of reply,max of reply,Comp
count,31.000000,31.000000,31.000000,31.000000,3.100000e+01,31.000000,31.000000,31.000000,31.000000,31.000000,31.000000,31.0,31.000000,31.000000,31.000000,31.0,31.000000,31.000000,31.000000
mean,23.961290,24.279355,23.655161,24.034839,8.866839e+05,501.021505,4896.000000,0.596774,9.153751,1620.774194,1273.473118,0.0,2.353503,425.870968,588.053763,0.0,1.055412,152.709677,0.418887
std,1.945000,2.084406,1.906927,2.052923,5.824633e+05,339.182622,4828.369466,0.490227,5.728263,2088.222094,1311.337363,0.0,1.450035,565.145866,599.108350,0.0,0.542351,352.969705,0.255742
min,19.840000,19.959999,19.620001,19.680000,0.000000e+00,168.000000,460.000000,0.000000,2.658960,55.000000,124.000000,0.0,0.716763,16.000000,83.000000,0.0,0.479769,5.000000,0.000000
25%,23.500000,23.650000,22.775000,23.050000,5.494000e+05,270.500000,2013.000000,0.000000,6.030571,401.000000,459.500000,0.0,1.390396,95.000000,214.000000,0.0,0.810542,23.500000,0.255406
50%,24.150000,24.450001,24.150000,24.400000,7.340000e+05,375.000000,2839.000000,1.000000,7.912281,804.000000,696.666667,0.0,1.904167,174.000000,326.000000,0.0,0.932059,58.000000,0.406198
75%,25.575000,25.875000,25.200000,25.500000,1.131000e+06,726.500000,5906.500000,1.000000,10.469586,1616.000000,1679.500000,0.0,2.844247,539.500000,713.000000,0.0,1.051568,88.500000,0.579241
max,26.700001,27.049999,26.650000,27.049999,2.490400e+06,1718.333333,17714.000000,1.000000,31.463588,7518.000000,5924.333333,0.0,6.625222,2299.000000,2489.666667,0.0,3.078153,1602.000000,1.000000

# Save Data

In [44]:
sino_int.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 31 entries, 0 to 30
Data columns (total 21 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   Datetime           31 non-null     datetime64[ns]
 1   Open               31 non-null     float64
 2   High               31 non-null     float64
 3   Low                31 non-null     float64
 4   Close              31 non-null     float64
 5   Volume             31 non-null     int64
 6   N of Tweet         31 non-null     float64
 7   sum of Nlike       31 non-null     float64
 8   median of Nlike    31 non-null     float64
 9   avg of Nlike       31 non-null     float64
 10  max of Nlike       31 non-null     int64
 11  sum of retweet     31 non-null     float64
 12  median of retweet  31 non-null     int64
 13  avg of retweet     31 non-null     float64
 14  max of retweet     31 non-null     int64
 15  sum of reply       31 non-null     float64
 16  median of reply    31 non-null     int64
 17  avg of reply       31 non-null     float64
 18  max of reply       31 non-null     int64
 19  Comp               31 non-null     float64
 20  day_of_week        31 non-null     object
dtypes: datetime64[ns](1), float64(13), int64(6), object(1)
memory usage: 5.3+ KB

In [45]:
os.chdir(os.getcwd())
work_folder = "C:\\Users\\Utente\\Esercitazioni DataMan\\Dm_project\\Scripts\\DataMan_project\\Dataset_integrati\\Sino\\"
sino_int.to_csv(work_folder+'sino_D_integrato.csv', sep=';')