# Setup

In [1]:
import pandas as pd
import os
import datetime
import matplotlib.pyplot as plt
import numpy as np
#!pip install sql
#!pip uninstall pandasql

#pip install vaderSentiment
from vaderSentiment.vaderSentiment import SentimentIntensityAnalyzer
#pip install sklearn.preprocessing
#pip install sklearn
from sklearn.preprocessing import MinMaxScaler
from sklearn import preprocessing

# Import data

In [2]:
os.chdir(os.getcwd())
work_folder = "C:\\Users\\Utente\\Esercitazioni DataMan\\Dm_project\\Scripts\\DataMan_project\\Work26\\Astra\\"

In [3]:
tweet_sino = pd.read_csv(work_folder+'astra_tweet.csv')
sino = pd.read_csv(work_folder+'df_astra.csv')
sino_b = pd.read_csv(work_folder+'df_astra.csv')
#tweet_sino_b = pd.read_csv(work_folder+'sinopharm1.1.csv')

tweet_sino

,data,location,id,testo,username,replyCount,like,retweet_count,quoteCount,quote,...,lang,url,coordinates,place,followersCount,friendsCount,statusesCount,favouritesCount,listedCount,mediaCount
0,2021-05-24 23:59:52+00:00,Australia,1396979292190371842,@ProfPCDoherty @ProfPCDoherty so your advice t...,stevemgoodwin,1,2,0,0,0,...,en,https://twitter.com/stevemgoodwin/status/13969...,NaN,NaN,596,596,245,1359,1,49
1,2021-05-24 23:58:33+00:00,Adelaide,1396978960504815616,The State’s second mass Covid Vaccination hub ...,AndreaLNicolas,5,5,4,2,2,...,en,https://twitter.com/AndreaLNicolas/status/1396...,NaN,NaN,3646,3646,6275,2048,80,1285
2,2021-05-24 23:58:23+00:00,Cable Beach Australia 🇦🇺,1396978918754635776,AstraZeneca jab implanted Nano-particles-chip-...,sophie_leblance,3,6,3,0,0,...,en,https://twitter.com/sophie_leblance/status/139...,NaN,NaN,135,135,1847,1640,0,509
3,2021-05-24 23:58:02+00:00,Cable Beach Australia 🇦🇺,1396978829957074946,"But the politifact website, its funding arm, T...",sophie_leblance,1,4,2,0,0,...,en,https://twitter.com/sophie_leblance/status/139...,NaN,NaN,135,135,1847,1640,0,509
4,2021-05-24 23:57:08+00:00,Cable Beach Australia 🇦🇺,1396978603259170817,"May 23, 2021: A user on Tiktok, al_janabi, pos...",sophie_leblance,1,6,4,0,0,...,en,https://twitter.com/sophie_leblance/status/139...,NaN,NaN,135,135,1847,1640,0,509
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
343671,2021-04-01 00:00:21+00:00,NaN,1377410469795782662,What the doctor who found the link between blo...,CTVNews,9,19,16,4,4,...,en,https://twitter.com/CTVNews/status/13774104697...,NaN,NaN,1110162,1110162,273182,83,5143,142540
343672,2021-04-01 00:00:21+00:00,Delco/Chesco,1377410466851381250,@pip_pip_hooray Saying there are worse things ...,MMmvp56,0,1,0,0,0,...,en,https://twitter.com/MMmvp56/status/13774104668...,NaN,NaN,356,356,25936,4163,6,1745
343673,2021-04-01 00:00:12+00:00,NaN,1377410431707344896,Europe's medicines regulator reiterated its ba...,Reuters_Health,2,8,7,0,0,...,en,https://twitter.com/Reuters_Health/status/1377...,NaN,NaN,255559,255559,60749,66,4062,5096
343674,2021-04-01 00:00:01+00:00,NaN,1377410385095974913,"@pahowho 🇧🇸 received 33,600 AstraZeneca vaccin...",PAHOCaribbean,0,0,0,0,0,...,en,https://twitter.com/PAHOCaribbean/status/13774...,NaN,NaN,3513,3513,7261,1873,112,2483
343675,2021-04-01 00:00:00+00:00,London,1377410380897521665,#Brexit vindicated by EU's vaccine farce as bl...,Daily_Express,1,2,1,0,0,...,en,https://twitter.com/Daily_Express/status/13774...,NaN,NaN,883009,883009,903040,93,3491,716464

In [4]:
# Type datetime and timezone
sino['Datetime'] = pd.to_datetime(sino['Datetime'])
sino['Datetime']=sino['Datetime'].dt.tz_localize(None)

# Time delta for (-8 for timezone +1 for correlation)
hours= +5
hours_added = datetime.timedelta(hours = hours)
sino['Datetime']= sino['Datetime'] + hours_added

#sino.set_index('Datetime', inplace=True)
#sino=sino.loc["2021-04-08 00:30:00":]

# Result start
sino.head()

             Datetime       Open       High        Low      Close   Volume
0 2021-04-08 14:30:00  49.669998  49.689999  49.490002  49.619999  1272720
1 2021-04-08 14:31:00  49.619999  49.689999  49.610001  49.654999    77764
2 2021-04-08 14:32:00  49.669998  49.674999  49.549999  49.555000    66371
3 2021-04-08 14:33:00  49.560001  49.619999  49.544998  49.619999    64359
4 2021-04-08 14:34:00  49.630001  49.660000  49.619999  49.650002    38205

In [5]:
# Result end
sino.tail()

                 Datetime       Open       High        Low      Close  Volume
12460 2021-05-21 20:55:00  57.375000  57.410000  57.375000  57.389999   74352
12461 2021-05-21 20:56:00  57.395000  57.395000  57.360001  57.384998   53605
12462 2021-05-21 20:57:00  57.380001  57.389999  57.380001  57.389999   33313
12463 2021-05-21 20:58:00  57.389999  57.400002  57.384998  57.394199   39357
12464 2021-05-21 20:59:00  57.400002  57.419998  57.389999  57.419998  131986

In [6]:
# Type datetime and timezone
tweet_sino['data'] = pd.to_datetime(tweet_sino['data'])
tweet_sino['data']=tweet_sino['data'].dt.tz_localize(None)

#file_tweet.set_index('data', inplace=True)
#file_tweet.index.rename('Datetime', inplace=True)
#sino['Datetime']=pd.to_datetime(sino['Datetime'],format='%H:%M')

# Backup for daily analysis

In [7]:
# Backup of tweet sino 
tweet_sino_c = tweet_sino

In [8]:
# Rename
tweet_sino = tweet_sino.rename(columns={'data': 'Datetime'})

# Sort
tweet_sino = tweet_sino.sort_values(by="Datetime")

#file_tweet['Datetime']=pd.to_datetime(file_tweet['Datetime'],format='%H:%M')
#file_tweet['Datetime']= df.index.map(lambda t: t.strftime('%Y-%m-%d %H:%M'))

#tweet_sino

In [9]:
# Delete minute and 
tweet_sino['Datetime'] = tweet_sino['Datetime'].dt.strftime('%Y-%m-%d %H')

#tweet_sino

In [10]:
# Change format (delete data of seconds)
#tweet_sino['Datetime'] = tweet_sino['Datetime'].values.astype('<M8[m]')
#tweet_sino['Datetime']

# Sentiment

In [11]:
analyzer = SentimentIntensityAnalyzer()
df =[]
for sentence in tweet_sino['testo']:
    vs = analyzer.polarity_scores(sentence)
    vs_df = pd.DataFrame.from_dict(vs.values(), orient='columns')
    df.append(vs_df[0][3])
    
tweet_sino['compound'] = df

tweet_sino['compound'].describe()

count    343676.000000
mean          0.034163
std           0.435625
min          -0.997700
25%          -0.273200
50%           0.000000
75%           0.361200
max           0.999700
Name: compound, dtype: float64

# Sino Tweet _ hourly analyzes

In [12]:
sino_count=pd.DataFrame()

# Count tweet by hour
sino_count['N of Tweet']= tweet_sino.groupby('Datetime')['id'].count()

# Count like ecc by hour and divide by number of tweet
sino_count['sum of Nlike']= tweet_sino.groupby('Datetime')['like'].sum()
sino_count['median of Nlike']= tweet_sino.groupby('Datetime')['like'].median()
sino_count['avg of Nlike']= tweet_sino.groupby('Datetime')['like'].sum()/sino_count['N of Tweet']
sino_count['max of Nlike']= tweet_sino.groupby('Datetime')['like'].max()#sum()#/sino_count['N of Tweet']

sino_count['sum of retweet']= tweet_sino.groupby('Datetime')['retweet_count'].sum()
sino_count['median of retweet']= tweet_sino.groupby('Datetime')['retweet_count'].median()#sum()#/sino_count['N of Tweet']
sino_count['avg of retweet']= tweet_sino.groupby('Datetime')['retweet_count'].sum()/sino_count['N of Tweet']
sino_count['max of retweet']= tweet_sino.groupby('Datetime')['retweet_count'].max()

sino_count['sum of reply']= tweet_sino.groupby('Datetime')['replyCount'].sum()
sino_count['median of reply']= tweet_sino.groupby('Datetime')['replyCount'].median()#sum()#/sino_count['N of Tweet']
sino_count['avg of reply']= tweet_sino.groupby('Datetime')['replyCount'].sum()/sino_count['N of Tweet']
sino_count['max of reply']= tweet_sino.groupby('Datetime')['replyCount'].max()

sino_count['Comp']= tweet_sino.groupby('Datetime')['compound'].sum()/sino_count['N of Tweet']

sino_count.reset_index(inplace=True)
sino_count

,Datetime,N of Tweet,sum of Nlike,median of Nlike,avg of Nlike,max of Nlike,sum of retweet,median of retweet,avg of retweet,max of retweet,sum of reply,median of reply,avg of reply,max of reply,Comp
0,2021-04-01 00,228,805,0.0,3.530702,84,293,0,1.285088,67,132,0,0.578947,20,-0.044150
1,2021-04-01 01,189,3619,0.0,19.148148,2399,1737,0,9.190476,1219,293,0,1.550265,110,-0.022507
2,2021-04-01 02,162,629,0.0,3.882716,128,177,0,1.092593,32,103,0,0.635802,17,0.003862
3,2021-04-01 03,157,742,0.0,4.726115,168,276,0,1.757962,63,139,0,0.885350,50,-0.029534
4,2021-04-01 04,156,351,0.0,2.250000,88,93,0,0.596154,15,75,0,0.480769,10,-0.015109
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1291,2021-05-24 19,124,638,0.0,5.145161,341,209,0,1.685484,58,85,0,0.685484,9,0.092437
1292,2021-05-24 20,111,978,1.0,8.810811,380,249,0,2.243243,94,218,0,1.963964,99,0.019780
1293,2021-05-24 21,136,534,1.0,3.926471,156,282,0,2.073529,114,118,0,0.867647,16,-0.022394
1294,2021-05-24 22,142,1348,1.0,9.492958,583,218,0,1.535211,94,97,0,0.683099,12,0.017940
1295,2021-05-24 23,121,2924,1.0,24.165289,2041,787,0,6.504132,604,202,0,1.669421,108,0.059554

### Stock data

In [13]:
# Delete minutes
sino['Datetime'] = sino['Datetime'].dt.strftime('%Y-%m-%d %H')
sino = sino.drop_duplicates(subset='Datetime', keep="first")
sino.head()

          Datetime       Open       High        Low      Close   Volume
0    2021-04-08 14  49.669998  49.689999  49.490002  49.619999  1272720
30   2021-04-08 15  49.715000  49.759998  49.715000  49.759998   101322
90   2021-04-08 16  49.619999  49.619999  49.605000  49.605000    11111
150  2021-04-08 17  49.580002  49.590099  49.580002  49.590000     3121
210  2021-04-08 18  49.466499  49.476002  49.465000  49.470001    10905

In [14]:
# Merge stock data and tweet indices 
sino_int = sino.merge(sino_count, on='Datetime', how='left', indicator=False)
sino_int.head()

,Datetime,Open,High,Low,Close,Volume,N of Tweet,sum of Nlike,median of Nlike,avg of Nlike,max of Nlike,sum of retweet,median of retweet,avg of retweet,max of retweet,sum of reply,median of reply,avg of reply,max of reply,Comp
0,2021-04-08 14,49.669998,49.689999,49.490002,49.619999,1272720,819,8491,0.0,10.367521,3235,2466,0,3.010989,438,797,0,0.973138,113,0.038203
1,2021-04-08 15,49.715000,49.759998,49.715000,49.759998,101322,705,3978,0.0,5.642553,1045,965,0,1.368794,192,649,0,0.920567,149,-0.013219
2,2021-04-08 16,49.619999,49.619999,49.605000,49.605000,11111,660,3969,0.0,6.013636,323,1213,0,1.837879,105,507,0,0.768182,31,-0.044173
3,2021-04-08 17,49.580002,49.590099,49.580002,49.590000,3121,718,9655,0.0,13.447075,4774,1351,0,1.881616,577,828,0,1.153203,201,0.018519
4,2021-04-08 18,49.466499,49.476002,49.465000,49.470001,10905,583,5342,0.0,9.162950,1118,1153,0,1.977702,258,566,0,0.970840,59,-0.021286

In [15]:
sino_int.tail()

,Datetime,Open,High,Low,Close,Volume,N of Tweet,sum of Nlike,median of Nlike,avg of Nlike,max of Nlike,sum of retweet,median of retweet,avg of retweet,max of retweet,sum of reply,median of reply,avg of reply,max of reply,Comp
220,2021-05-21 16,57.395000,57.430000,57.389999,57.430000,6861,238,3456,1.0,14.521008,1020,633,0,2.659664,136,335,0,1.407563,51,0.109025
221,2021-05-21 17,57.480000,57.485001,57.465000,57.474998,10516,182,882,1.0,4.846154,322,188,0,1.032967,25,263,0,1.445055,150,0.086140
222,2021-05-21 18,57.419998,57.419998,57.410000,57.419998,2382,200,2143,1.0,10.715000,1163,304,0,1.520000,51,1182,0,5.910000,996,0.050977
223,2021-05-21 19,57.421299,57.465000,57.419998,57.450001,76730,170,2665,1.0,15.676471,996,643,0,3.782353,271,204,0,1.200000,47,0.055561
224,2021-05-21 20,57.500000,57.500000,57.490002,57.490002,5336,160,571,0.5,3.568750,103,130,0,0.812500,25,103,0,0.643750,14,0.048581

In [16]:
sino_int.describe()

,Open,High,Low,Close,Volume,N of Tweet,sum of Nlike,median of Nlike,avg of Nlike,max of Nlike,sum of retweet,median of retweet,avg of retweet,max of retweet,sum of reply,median of reply,avg of reply,max of reply,Comp
count,225.000000,225.000000,225.000000,225.000000,2.250000e+02,225.000000,225.000000,225.000000,225.000000,225.000000,225.000000,225.0,225.000000,225.000000,225.000000,225.0,225.000000,225.000000,225.000000
mean,53.044726,53.061585,53.020383,53.038418,1.028652e+05,360.231111,5407.920000,0.480000,13.411526,2108.262222,1228.164444,0.0,3.263704,497.355556,531.653333,0.0,1.417787,136.262222,0.054058
std,2.211914,2.213691,2.213936,2.214260,2.491365e+05,177.076355,8826.952405,0.491717,16.096615,6103.724946,1945.411131,0.0,4.751121,1612.092279,488.651191,0.0,0.902391,207.393858,0.051952
min,48.994999,49.000000,48.990002,49.000000,0.000000e+00,141.000000,454.000000,0.000000,2.054299,56.000000,97.000000,0.0,0.438914,18.000000,90.000000,0.0,0.396476,5.000000,-0.153621
25%,51.570000,51.580002,51.525002,51.535000,7.186000e+03,235.000000,1614.000000,0.000000,5.899654,355.000000,391.000000,0.0,1.510870,86.000000,231.000000,0.0,0.878676,35.000000,0.022053
50%,53.025002,53.049999,53.009998,53.029999,1.503200e+04,319.000000,3074.000000,0.000000,9.627778,773.000000,770.000000,0.0,2.349741,191.000000,368.000000,0.0,1.135922,66.000000,0.055509
75%,54.650002,54.660000,54.639999,54.645000,3.607200e+04,426.000000,5342.000000,1.000000,13.950000,1707.000000,1341.000000,0.0,3.412955,418.000000,657.000000,0.0,1.612981,137.000000,0.083074
max,57.580002,57.599998,57.560001,57.580002,2.093409e+06,1342.000000,79320.000000,1.000000,181.757106,68036.000000,21925.000000,0.0,56.653747,21324.000000,3931.000000,0.0,6.685057,1433.000000,0.234302

In [17]:
norm = sino_int['Comp']
min_max_scaler = preprocessing.MinMaxScaler()
x_scaled = min_max_scaler.fit_transform(np.array(norm).reshape(-1,1))
sino_int['Comp'] = x_scaled

In [18]:
sino_int.describe()

,Open,High,Low,Close,Volume,N of Tweet,sum of Nlike,median of Nlike,avg of Nlike,max of Nlike,sum of retweet,median of retweet,avg of retweet,max of retweet,sum of reply,median of reply,avg of reply,max of reply,Comp
count,225.000000,225.000000,225.000000,225.000000,2.250000e+02,225.000000,225.000000,225.000000,225.000000,225.000000,225.000000,225.0,225.000000,225.000000,225.000000,225.0,225.000000,225.000000,225.000000
mean,53.044726,53.061585,53.020383,53.038418,1.028652e+05,360.231111,5407.920000,0.480000,13.411526,2108.262222,1228.164444,0.0,3.263704,497.355556,531.653333,0.0,1.417787,136.262222,0.535361
std,2.211914,2.213691,2.213936,2.214260,2.491365e+05,177.076355,8826.952405,0.491717,16.096615,6103.724946,1945.411131,0.0,4.751121,1612.092279,488.651191,0.0,0.902391,207.393858,0.133923
min,48.994999,49.000000,48.990002,49.000000,0.000000e+00,141.000000,454.000000,0.000000,2.054299,56.000000,97.000000,0.0,0.438914,18.000000,90.000000,0.0,0.396476,5.000000,0.000000
25%,51.570000,51.580002,51.525002,51.535000,7.186000e+03,235.000000,1614.000000,0.000000,5.899654,355.000000,391.000000,0.0,1.510870,86.000000,231.000000,0.0,0.878676,35.000000,0.452858
50%,53.025002,53.049999,53.009998,53.029999,1.503200e+04,319.000000,3074.000000,0.000000,9.627778,773.000000,770.000000,0.0,2.349741,191.000000,368.000000,0.0,1.135922,66.000000,0.539101
75%,54.650002,54.660000,54.639999,54.645000,3.607200e+04,426.000000,5342.000000,1.000000,13.950000,1707.000000,1341.000000,0.0,3.412955,418.000000,657.000000,0.0,1.612981,137.000000,0.610160
max,57.580002,57.599998,57.560001,57.580002,2.093409e+06,1342.000000,79320.000000,1.000000,181.757106,68036.000000,21925.000000,0.0,56.653747,21324.000000,3931.000000,0.0,6.685057,1433.000000,1.000000

# Save Data

In [20]:
sino_int['Datetime'] = pd.to_datetime(sino_int['Datetime'])
sino_int['Date'] = pd.to_datetime(sino_int['Datetime']).dt.date
sino_int['Date'] = pd.to_datetime(sino_int['Date'])
sino_int.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 225 entries, 0 to 224
Data columns (total 21 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   Datetime           225 non-null    datetime64[ns]
 1   Open               225 non-null    float64
 2   High               225 non-null    float64
 3   Low                225 non-null    float64
 4   Close              225 non-null    float64
 5   Volume             225 non-null    int64
 6   N of Tweet         225 non-null    int64
 7   sum of Nlike       225 non-null    int64
 8   median of Nlike    225 non-null    float64
 9   avg of Nlike       225 non-null    float64
 10  max of Nlike       225 non-null    int64
 11  sum of retweet     225 non-null    int64
 12  median of retweet  225 non-null    int64
 13  avg of retweet     225 non-null    float64
 14  max of retweet     225 non-null    int64
 15  sum of reply       225 non-null    int64
 16  median of reply    225 non-null    int64
 17  avg of reply       225 non-null    float64
 18  max of reply       225 non-null    int64
 19  Comp               225 non-null    float64
 20  Date               225 non-null    datetime64[ns]
dtypes: datetime64[ns](2), float64(9), int64(10)
memory usage: 38.7 KB

In [21]:
os.chdir(os.getcwd())
work_folder = "C:\\Users\\Utente\\Esercitazioni DataMan\\Dm_project\\Scripts\\DataMan_project\\Dataset_integrati\\Astra\\"
sino_int.to_csv(work_folder+'astra_H_integrato.csv', sep=';')

# Daily analysis

In [22]:
# Type datetime and timezone
sino_b['Datetime'] = pd.to_datetime(sino_b['Datetime'])
sino_b['Datetime']=sino_b['Datetime'].dt.tz_localize(None)

# Time delta for (-8 for timezone)
hours= +4
hours_added = datetime.timedelta(hours = hours)
sino_b['Datetime']= sino_b['Datetime'] + hours_added

#sino.set_index('Datetime', inplace=True)
#sino=sino.loc["2021-04-08 00:30:00":]

# Result start
sino_b.head()

             Datetime       Open       High        Low      Close   Volume
0 2021-04-08 13:30:00  49.669998  49.689999  49.490002  49.619999  1272720
1 2021-04-08 13:31:00  49.619999  49.689999  49.610001  49.654999    77764
2 2021-04-08 13:32:00  49.669998  49.674999  49.549999  49.555000    66371
3 2021-04-08 13:33:00  49.560001  49.619999  49.544998  49.619999    64359
4 2021-04-08 13:34:00  49.630001  49.660000  49.619999  49.650002    38205

In [23]:
sino_b.tail()

                 Datetime       Open       High        Low      Close  Volume
12460 2021-05-21 19:55:00  57.375000  57.410000  57.375000  57.389999   74352
12461 2021-05-21 19:56:00  57.395000  57.395000  57.360001  57.384998   53605
12462 2021-05-21 19:57:00  57.380001  57.389999  57.380001  57.389999   33313
12463 2021-05-21 19:58:00  57.389999  57.400002  57.384998  57.394199   39357
12464 2021-05-21 19:59:00  57.400002  57.419998  57.389999  57.419998  131986

In [24]:
# Time delta for time interval
hours= +44 #+32   #+24
hours_added = datetime.timedelta(hours = hours)
tweet_sino_c['data']= tweet_sino_c['data'] + hours_added

# Rename
tweet_sino_c = tweet_sino_c.rename(columns={'data': 'Datetime'})

# Sort
tweet_sino_c = tweet_sino_c.sort_values(by="Datetime")

# Delete hour and minutes
tweet_sino_c['date'] = pd.to_datetime(tweet_sino_c['Datetime']).dt.date

# Create column for number of day (0 is Sunday, 6 is Saturday)
tweet_sino_c['day_of_week'] = tweet_sino_c['Datetime'].dt.strftime('%w')

In [25]:
# Add a day on for every Sunday
hours=+24
hours_added = datetime.timedelta(hours = hours)

tweet_sino_c['Datetime'] = np.where(
    tweet_sino_c['day_of_week'] == '0',tweet_sino_c['Datetime']+hours_added,tweet_sino_c['Datetime'])

# Add two day on for every Saturday
hours=+48
hours_added = datetime.timedelta(hours = hours)

tweet_sino_c['Datetime'] = np.where(
    tweet_sino_c['day_of_week'] == '6',tweet_sino_c['Datetime']+hours_added,tweet_sino_c['Datetime'])

In [26]:
# Sunday on Monday
tweet_sino_c[tweet_sino_c['day_of_week']=='0']

,Datetime,location,id,testo,username,replyCount,like,retweet_count,quoteCount,quote,...,coordinates,place,followersCount,friendsCount,statusesCount,favouritesCount,listedCount,mediaCount,date,day_of_week
336516,2021-04-05 00:00:00,"Westminster, UK (not really!)",1377833165784514560,How else can we support our brilliant Oxford-A...,bojocovidcfg,0,0,0,0,0,...,NaN,NaN,3,3,1285,0,0,0,2021-04-04,0
336515,2021-04-05 00:00:00,Canada,1377833166086533121,The province announced that some 350 more phar...,CBCNews,22,58,10,1,1,...,NaN,NaN,3090292,3090292,249799,6028,15366,95423,2021-04-04,0
336514,2021-04-05 00:00:07,Tokyo,1377833195509583875,Coronavirus latest: UK cites 30 blood clot cas...,NikkeiAsia,3,2,3,0,0,...,NaN,NaN,246531,246531,103154,253,2758,16478,2021-04-04,0
336513,2021-04-05 00:00:13,"Las Vegas, NV",1377833221853900802,Fauci says US may not need AstraZeneca COVID-1...,CrweWorld,0,0,0,0,0,...,NaN,NaN,858,858,1085534,16,38,17,2021-04-04,0
336512,2021-04-05 00:00:14,"Ottawa, Ontario",1377833227340161025,"""It's a bonus to see AstraZeneca arriving in O...",ctvottawa,2,3,0,0,0,...,NaN,NaN,220885,220885,101906,1209,1721,11259,2021-04-04,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
11302,2021-05-24 23:57:42,NaN,1395951980787363840,Alhamdulillah! \n\nCompleted my 1st dose #Cucu...,traramlee,0,4,0,0,0,...,NaN,NaN,19,19,563,4613,0,22,2021-05-23,0
11301,2021-05-24 23:57:42,Kuala Lumpur City,1395951982653841408,Vaccination done! 👍\n\n#AstraZeneca #VaccinesS...,ShaqKoyok,4,110,3,1,1,...,NaN,NaN,1973,1973,4584,22833,6,770,2021-05-23,0
11300,2021-05-24 23:58:08,New Delhi,1395952091735097345,#USA blocks #vaccine ingredients to India\n#Co...,pramodbapna,0,1,2,0,0,...,NaN,NaN,68,68,410,19,4,18,2021-05-23,0
11299,2021-05-24 23:58:57,Australia,1395952295733391366,"Well I've now joined the ""I've had an AstraZen...",BoomerangChris,5,13,1,0,0,...,NaN,NaN,562,562,23207,20375,3,1419,2021-05-23,0
11298,2021-05-24 23:59:34,"📍Manila, Philippines",1395952452965261312,Got my 1st dose of Astrazeneca Vaccine! Thank ...,svnnhgrgmndz,1,8,1,0,0,...,NaN,NaN,121,121,7139,9311,0,396,2021-05-23,0

In [27]:
# Saturday on Monday
tweet_sino_c[tweet_sino_c['day_of_week']=='6']

,Datetime,location,id,testo,username,replyCount,like,retweet_count,quoteCount,quote,...,coordinates,place,followersCount,friendsCount,statusesCount,favouritesCount,listedCount,mediaCount,date,day_of_week
342939,2021-04-05 00:00:00,"Tulsa, OK",1377470780854919170,German officials have decided to limit the use...,KTULNews,0,0,0,0,0,...,NaN,NaN,88287,88287,213398,8865,858,45003,2021-04-03,6
342938,2021-04-05 00:00:01,Johannesburg,1377470781488173064,Why did South Africa buy the #AstraZeneca jabs...,Bhekisisa_MG,0,1,1,0,0,...,NaN,NaN,17712,17712,86783,2947,206,18123,2021-04-03,6
342937,2021-04-05 00:00:07,"London, United Kingdom",1377470808872849415,Japan to get first batches of AstraZeneca COVI...,ReutersUK,0,2,3,0,0,...,NaN,NaN,142516,142516,195904,15,4136,156671,2021-04-03,6
342936,2021-04-05 00:00:08,NaN,1377470813364965376,WGHP FOX 8 Greensboro: What we know about Astr...,JosephHucks,0,0,0,0,0,...,NaN,NaN,4560,4560,87190,6755,26,3855,2021-04-03,6
342935,2021-04-05 00:00:16,NaN,1377470845992468485,Canada suspends AstraZeneca vaccine for adults...,moneymessage_,0,0,0,0,0,...,NaN,NaN,234,234,22106,12,3,313,2021-04-03,6
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
16099,2021-05-24 23:59:06,"Bonn, Germany",1395589944006021124,#HeinzDuthel: Diskutiere nicht mit Zombies II ...,pressebanknet,0,0,0,0,0,...,NaN,NaN,1322,1322,432307,9115,1,195909,2021-05-22,6
16098,2021-05-24 23:59:17,NaN,1395589992228040707,"@AssalaLamaa @jbkghada Ontario, Canada will no...",LissaHussein,1,1,1,0,0,...,NaN,NaN,604,604,3219,26747,1,63,2021-05-22,6
16097,2021-05-24 23:59:22,Under a fucking Gum Tree!!,1395590011274383368,"Thank you. It really isn't a matter of choice,...",lee_manwaring,0,0,0,0,0,...,NaN,NaN,4791,4791,79504,69926,3,207,2021-05-22,6
16096,2021-05-24 23:59:27,NaN,1395590035496333313,2/ Odds of being infected after two doses of e...,blastnost,0,0,0,0,0,...,NaN,NaN,1430,1430,94277,113385,58,1436,2021-05-22,6
16095,2021-05-24 23:59:45,NaN,1395590109869662208,Have astra Zeneca in me will prob get moderna ...,yabbie5674,1,0,0,0,0,...,NaN,NaN,637,637,64957,64446,25,4837,2021-05-22,6

### Sentiment

In [28]:
analyzer = SentimentIntensityAnalyzer()
df =[]
for sentence in tweet_sino_c['testo']:
    vs = analyzer.polarity_scores(sentence)
    vs_df = pd.DataFrame.from_dict(vs.values(), orient='columns')
    df.append(vs_df[0][3])
    
tweet_sino_c['compound'] = df

In [29]:
tweet_sino_c['compound'].describe()

count    343676.000000
mean          0.034163
std           0.435625
min          -0.997700
25%          -0.273200
50%           0.000000
75%           0.361200
max           0.999700
Name: compound, dtype: float64

# Count

In [30]:
# Rewrite date for weekend
tweet_sino_c['date'] = pd.to_datetime(tweet_sino_c['Datetime']).dt.date

In [31]:
sino_count=pd.DataFrame()

# Count tweet by date 
sino_count['N of Tweet']= tweet_sino_c.groupby('date')['id'].count()
# Count like ecc
sino_count['sum of Nlike']= tweet_sino_c.groupby('date')['like'].sum()
sino_count['median of Nlike']= tweet_sino_c.groupby('date')['like'].median()
sino_count['avg of Nlike']= tweet_sino_c.groupby('date')['like'].sum()/sino_count['N of Tweet']
sino_count['max of Nlike']= tweet_sino_c.groupby('date')['like'].max()#.sum()#/sino_count['N of Tweet']

sino_count['sum of retweet']= tweet_sino_c.groupby('date')['retweet_count'].sum()
sino_count['median of retweet']= tweet_sino_c.groupby('date')['retweet_count'].median()#.sum()#/sino_count['N of Tweet']
sino_count['avg of retweet']= tweet_sino_c.groupby('date')['retweet_count'].sum()/sino_count['N of Tweet']
sino_count['max of retweet']= tweet_sino_c.groupby('date')['retweet_count'].max()

sino_count['sum of reply']= tweet_sino_c.groupby('date')['replyCount'].sum()
sino_count['median of reply']= tweet_sino_c.groupby('date')['replyCount'].median()
sino_count['avg of reply']= tweet_sino_c.groupby('date')['replyCount'].sum()/sino_count['N of Tweet']
sino_count['max of reply']= tweet_sino_c.groupby('date')['replyCount'].max()#/sino_count['N of Tweet']

sino_count['Comp']= tweet_sino_c.groupby('date')['compound'].sum()/sino_count['N of Tweet']

sino_count.reset_index(inplace=True)
sino_count = sino_count.rename(columns={'date': 'Datetime'})
sino_count

,Datetime,N of Tweet,sum of Nlike,median of Nlike,avg of Nlike,max of Nlike,sum of retweet,median of retweet,avg of retweet,max of retweet,sum of reply,median of reply,avg of reply,max of reply,Comp
0,2021-04-02,736,5795,0.0,7.873641,2399,2483,0,3.373641,1219,667,0,0.906250,110,-0.024907
1,2021-04-05,20761,185715,0.0,8.945378,5921,60008,0,2.890420,1554,27069,0,1.303839,1105,-0.012657
2,2021-04-06,4261,41372,0.0,9.709458,17731,9406,0,2.207463,1735,3713,0,0.871392,228,-0.013377
3,2021-04-07,4091,21774,0.0,5.322415,1295,6790,0,1.659741,345,3708,0,0.906380,92,-0.010507
4,2021-04-08,10062,110770,0.0,11.008746,13655,39826,0,3.958060,9408,15727,0,1.563009,1430,0.002696
5,2021-04-09,21825,297224,0.0,13.618511,55797,75686,0,3.467858,9442,31553,0,1.445727,934,-0.006247
6,2021-04-12,31954,314910,0.0,9.855104,6721,82085,0,2.568849,2138,42404,0,1.327033,1433,0.002141
7,2021-04-13,5180,48164,0.0,9.298069,2592,16059,0,3.100193,1142,5680,0,1.096525,445,0.015463
8,2021-04-14,6288,58950,0.5,9.375000,4092,14123,0,2.246024,626,7957,0,1.265426,495,0.011662
9,2021-04-15,10947,165266,0.0,15.096922,30122,37429,0,3.419110,11753,13852,0,1.265370,688,-0.003984
10,2021-04-16,10932,133148,0.0,12.179656,14138,40687,0,3.721826,3946,12232,0,1.118917,398,0.004367
11,2021-04-19,21652,331020,0.0,15.288195,68036,91061,0,4.205662,21324,28176,0,1.301312,798,-0.007735
12,2021-04-20,6950,218661,1.0,31.462014,46675,38387,0,5.523309,2615,16385,0,2.357554,812,0.038157
13,2021-04-21,8031,108339,1.0,13.490101,9744,20359,0,2.535052,1175,13184,0,1.641639,1248,0.046921
14,2021-04-22,6470,104680,1.0,16.179289,5315,15101,0,2.334003,479,10267,0,1.586862,526,0.079201
15,2021-04-23,6487,96512,1.0,14.877756,11198,20733,0,3.196084,4009,9760,0,1.504548,437,0.060903
16,2021-04-26,21877,532333,1.0,24.332998,102840,112320,0,5.134159,20206,39479,0,1.804589,1563,0.055111
17,2021-04-27,4725,80519,0.0,17.041058,26063,15064,0,3.188148,2503,5324,0,1.126772,333,0.066166
18,2021-04-28,10472,255037,0.0,24.354183,43761,45360,0,4.331551,4852,14209,0,1.356856,1084,0.124861
19,2021-04-29,6782,56597,0.0,8.345178,6050,20071,0,2.959451,5499,7469,0,1.101298,162,0.040230
20,2021-04-30,6010,52752,0.0,8.777371,2200,16119,0,2.682030,1139,6586,0,1.095840,573,0.039284
21,2021-05-03,12849,125743,0.0,9.786209,9975,41297,0,3.214024,8739,14072,0,1.095183,1216,0.067048
22,2021-05-04,3638,49731,1.0,13.669874,5436,23952,0,6.583837,4970,4009,0,1.101979,413,0.083962
23,2021-05-05,3940,52324,1.0,13.280203,9131,17801,0,4.518020,3253,4667,0,1.184518,156,0.084601
24,2021-05-06,3971,55343,1.0,13.936792,10088,16275,0,4.098464,3788,5159,0,1.299169,741,0.087557
25,2021-05-07,5223,50668,0.0,9.700938,10743,20662,0,3.955964,6106,5688,0,1.089029,177,0.012011
26,2021-05-10,14768,147363,0.0,9.978535,3473,39983,0,2.707408,2629,16622,0,1.125542,412,0.051747
27,2021-05-11,2739,19813,0.0,7.233662,1322,4419,0,1.613363,168,2872,0,1.048558,276,0.055380
28,2021-05-12,4514,47588,0.0,10.542313,3750,11567,0,2.562472,1014,4831,0,1.070226,336,0.033239
29,2021-05-13,7572,144431,1.0,19.074353,21107,36567,0,4.829239,8289,15785,0,2.084654,442,0.013742
30,2021-05-14,6496,69615,0.0,10.716595,5617,16664,0,2.565271,813,11481,0,1.767395,884,0.018600
31,2021-05-17,12234,147937,0.0,12.092284,28816,42145,0,3.444908,9633,14240,0,1.163969,364,0.066639
32,2021-05-18,3145,33259,0.0,10.575199,6547,8585,0,2.729730,1103,2979,0,0.947218,168,0.023350
33,2021-05-19,4468,64125,0.0,14.352059,9915,28825,0,6.451432,12625,7231,0,1.618397,729,0.036938
34,2021-05-20,4803,64346,1.0,13.397044,4997,21885,0,4.556527,3723,7905,0,1.645846,1245,0.078387
35,2021-05-21,4847,62743,1.0,12.944708,5823,19715,0,4.067464,4103,7176,0,1.480503,432,0.087217
36,2021-05-24,14167,191736,1.0,13.533987,16157,60020,0,4.236606,5955,18824,0,1.328722,996,0.089028
37,2021-05-25,4375,70669,1.0,16.152914,10279,29730,0,6.795429,5127,6799,0,1.554057,340,0.163310
38,2021-05-26,3434,45500,0.0,13.249854,5594,16356,0,4.762959,3595,4032,0,1.174141,250,0.075206

In [32]:
sino_count['Datetime'] = pd.to_datetime(sino_count['Datetime'])
sino_count['day_of_week'] = sino_count['Datetime'].dt.strftime('%w')

In [33]:
sino_count['N of Tweet'] = np.where(
    sino_count['day_of_week'] == '1',sino_count['N of Tweet']/3,sino_count['N of Tweet'])

sino_count['sum of Nlike'] = np.where(
    sino_count['day_of_week'] == '1',sino_count['sum of Nlike']/3,sino_count['sum of Nlike'])

sino_count['sum of retweet'] = np.where(
    sino_count['day_of_week'] == '1',sino_count['sum of retweet']/3,sino_count['sum of retweet'])

sino_count['sum of reply'] = np.where(
    sino_count['day_of_week'] == '1',sino_count['sum of reply']/3,sino_count['sum of reply'])

sino_count

,Datetime,N of Tweet,sum of Nlike,median of Nlike,avg of Nlike,max of Nlike,sum of retweet,median of retweet,avg of retweet,max of retweet,sum of reply,median of reply,avg of reply,max of reply,Comp,day_of_week
0,2021-04-02,736.000000,5795.000000,0.0,7.873641,2399,2483.000000,0,3.373641,1219,667.000000,0,0.906250,110,-0.024907,5
1,2021-04-05,6920.333333,61905.000000,0.0,8.945378,5921,20002.666667,0,2.890420,1554,9023.000000,0,1.303839,1105,-0.012657,1
2,2021-04-06,4261.000000,41372.000000,0.0,9.709458,17731,9406.000000,0,2.207463,1735,3713.000000,0,0.871392,228,-0.013377,2
3,2021-04-07,4091.000000,21774.000000,0.0,5.322415,1295,6790.000000,0,1.659741,345,3708.000000,0,0.906380,92,-0.010507,3
4,2021-04-08,10062.000000,110770.000000,0.0,11.008746,13655,39826.000000,0,3.958060,9408,15727.000000,0,1.563009,1430,0.002696,4
5,2021-04-09,21825.000000,297224.000000,0.0,13.618511,55797,75686.000000,0,3.467858,9442,31553.000000,0,1.445727,934,-0.006247,5
6,2021-04-12,10651.333333,104970.000000,0.0,9.855104,6721,27361.666667,0,2.568849,2138,14134.666667,0,1.327033,1433,0.002141,1
7,2021-04-13,5180.000000,48164.000000,0.0,9.298069,2592,16059.000000,0,3.100193,1142,5680.000000,0,1.096525,445,0.015463,2
8,2021-04-14,6288.000000,58950.000000,0.5,9.375000,4092,14123.000000,0,2.246024,626,7957.000000,0,1.265426,495,0.011662,3
9,2021-04-15,10947.000000,165266.000000,0.0,15.096922,30122,37429.000000,0,3.419110,11753,13852.000000,0,1.265370,688,-0.003984,4
10,2021-04-16,10932.000000,133148.000000,0.0,12.179656,14138,40687.000000,0,3.721826,3946,12232.000000,0,1.118917,398,0.004367,5
11,2021-04-19,7217.333333,110340.000000,0.0,15.288195,68036,30353.666667,0,4.205662,21324,9392.000000,0,1.301312,798,-0.007735,1
12,2021-04-20,6950.000000,218661.000000,1.0,31.462014,46675,38387.000000,0,5.523309,2615,16385.000000,0,2.357554,812,0.038157,2
13,2021-04-21,8031.000000,108339.000000,1.0,13.490101,9744,20359.000000,0,2.535052,1175,13184.000000,0,1.641639,1248,0.046921,3
14,2021-04-22,6470.000000,104680.000000,1.0,16.179289,5315,15101.000000,0,2.334003,479,10267.000000,0,1.586862,526,0.079201,4
15,2021-04-23,6487.000000,96512.000000,1.0,14.877756,11198,20733.000000,0,3.196084,4009,9760.000000,0,1.504548,437,0.060903,5
16,2021-04-26,7292.333333,177444.333333,1.0,24.332998,102840,37440.000000,0,5.134159,20206,13159.666667,0,1.804589,1563,0.055111,1
17,2021-04-27,4725.000000,80519.000000,0.0,17.041058,26063,15064.000000,0,3.188148,2503,5324.000000,0,1.126772,333,0.066166,2
18,2021-04-28,10472.000000,255037.000000,0.0,24.354183,43761,45360.000000,0,4.331551,4852,14209.000000,0,1.356856,1084,0.124861,3
19,2021-04-29,6782.000000,56597.000000,0.0,8.345178,6050,20071.000000,0,2.959451,5499,7469.000000,0,1.101298,162,0.040230,4
20,2021-04-30,6010.000000,52752.000000,0.0,8.777371,2200,16119.000000,0,2.682030,1139,6586.000000,0,1.095840,573,0.039284,5
21,2021-05-03,4283.000000,41914.333333,0.0,9.786209,9975,13765.666667,0,3.214024,8739,4690.666667,0,1.095183,1216,0.067048,1
22,2021-05-04,3638.000000,49731.000000,1.0,13.669874,5436,23952.000000,0,6.583837,4970,4009.000000,0,1.101979,413,0.083962,2
23,2021-05-05,3940.000000,52324.000000,1.0,13.280203,9131,17801.000000,0,4.518020,3253,4667.000000,0,1.184518,156,0.084601,3
24,2021-05-06,3971.000000,55343.000000,1.0,13.936792,10088,16275.000000,0,4.098464,3788,5159.000000,0,1.299169,741,0.087557,4
25,2021-05-07,5223.000000,50668.000000,0.0,9.700938,10743,20662.000000,0,3.955964,6106,5688.000000,0,1.089029,177,0.012011,5
26,2021-05-10,4922.666667,49121.000000,0.0,9.978535,3473,13327.666667,0,2.707408,2629,5540.666667,0,1.125542,412,0.051747,1
27,2021-05-11,2739.000000,19813.000000,0.0,7.233662,1322,4419.000000,0,1.613363,168,2872.000000,0,1.048558,276,0.055380,2
28,2021-05-12,4514.000000,47588.000000,0.0,10.542313,3750,11567.000000,0,2.562472,1014,4831.000000,0,1.070226,336,0.033239,3
29,2021-05-13,7572.000000,144431.000000,1.0,19.074353,21107,36567.000000,0,4.829239,8289,15785.000000,0,2.084654,442,0.013742,4
30,2021-05-14,6496.000000,69615.000000,0.0,10.716595,5617,16664.000000,0,2.565271,813,11481.000000,0,1.767395,884,0.018600,5
31,2021-05-17,4078.000000,49312.333333,0.0,12.092284,28816,14048.333333,0,3.444908,9633,4746.666667,0,1.163969,364,0.066639,1
32,2021-05-18,3145.000000,33259.000000,0.0,10.575199,6547,8585.000000,0,2.729730,1103,2979.000000,0,0.947218,168,0.023350,2
33,2021-05-19,4468.000000,64125.000000,0.0,14.352059,9915,28825.000000,0,6.451432,12625,7231.000000,0,1.618397,729,0.036938,3
34,2021-05-20,4803.000000,64346.000000,1.0,13.397044,4997,21885.000000,0,4.556527,3723,7905.000000,0,1.645846,1245,0.078387,4
35,2021-05-21,4847.000000,62743.000000,1.0,12.944708,5823,19715.000000,0,4.067464,4103,7176.000000,0,1.480503,432,0.087217,5
36,2021-05-24,4722.333333,63912.000000,1.0,13.533987,16157,20006.666667,0,4.236606,5955,6274.666667,0,1.328722,996,0.089028,1
37,2021-05-25,4375.000000,70669.000000,1.0,16.152914,10279,29730.000000,0,6.795429,5127,6799.000000,0,1.554057,340,0.163310,2
38,2021-05-26,3434.000000,45500.000000,0.0,13.249854,5594,16356.000000,0,4.762959,3595,4032.000000,0,1.174141,250,0.075206,3

In [34]:
# Delete hour from stock dataset
sino['Datetime'] = pd.to_datetime(sino['Datetime']).dt.date

# Drop duplicate and take only closing price 
sino = sino.drop_duplicates(subset='Datetime', keep="last")
sino.head()

        Datetime       Open       High        Low      Close  Volume
330   2021-04-08  49.480000  49.490002  49.474998  49.480000   15695
720   2021-04-09  49.785000  49.790001  49.782001  49.782001    9618
1110  2021-04-12  49.490898  49.500000  49.490002  49.500000    6705
1500  2021-04-13  49.125000  49.139999  49.110001  49.134998   13176
1889  2021-04-14  49.830002  49.860001  49.825001  49.855000   69594

In [35]:
sino['Datetime'] = pd.to_datetime(sino['Datetime'])

In [36]:
# Merge stock and daily analysis
sino_int = sino.merge(sino_count, on='Datetime', how='left', indicator=False)
sino_int.head()

,Datetime,Open,High,Low,Close,Volume,N of Tweet,sum of Nlike,median of Nlike,avg of Nlike,...,sum of retweet,median of retweet,avg of retweet,max of retweet,sum of reply,median of reply,avg of reply,max of reply,Comp,day_of_week
0,2021-04-08,49.480000,49.490002,49.474998,49.480000,15695,10062.000000,110770.0,0.0,11.008746,...,39826.000000,0,3.958060,9408,15727.000000,0,1.563009,1430,0.002696,4
1,2021-04-09,49.785000,49.790001,49.782001,49.782001,9618,21825.000000,297224.0,0.0,13.618511,...,75686.000000,0,3.467858,9442,31553.000000,0,1.445727,934,-0.006247,5
2,2021-04-12,49.490898,49.500000,49.490002,49.500000,6705,10651.333333,104970.0,0.0,9.855104,...,27361.666667,0,2.568849,2138,14134.666667,0,1.327033,1433,0.002141,1
3,2021-04-13,49.125000,49.139999,49.110001,49.134998,13176,5180.000000,48164.0,0.0,9.298069,...,16059.000000,0,3.100193,1142,5680.000000,0,1.096525,445,0.015463,2
4,2021-04-14,49.830002,49.860001,49.825001,49.855000,69594,6288.000000,58950.0,0.5,9.375000,...,14123.000000,0,2.246024,626,7957.000000,0,1.265426,495,0.011662,3

In [37]:
sino_int['median of Nlike'].min()

0.0

In [38]:
sino_int.describe()

,Open,High,Low,Close,Volume,N of Tweet,sum of Nlike,median of Nlike,avg of Nlike,max of Nlike,sum of retweet,median of retweet,avg of retweet,max of retweet,sum of reply,median of reply,avg of reply,max of reply,Comp
count,32.000000,32.000000,32.000000,32.000000,32.00000,32.000000,32.000000,32.000000,32.000000,32.000000,32.000000,32.0,32.000000,32.00000,32.000000,32.0,32.000000,32.000000,32.000000
mean,53.001928,53.014375,52.991532,53.004125,14059.53125,6717.552083,94803.343750,0.359375,13.620654,18304.343750,24319.312500,0.0,3.639672,5412.87500,9426.010417,0.0,1.365046,667.187500,0.042801
std,2.269983,2.267318,2.269031,2.266261,12825.08112,3608.597990,65981.382788,0.479152,5.170655,22709.134411,14090.163274,0.0,1.181633,5308.65384,5764.505378,0.0,0.325118,410.518589,0.033938
min,49.125000,49.139999,49.110001,49.134998,0.00000,2739.000000,19813.000000,0.000000,7.233662,1322.000000,4419.000000,0.0,1.613363,168.00000,2872.000000,0.0,0.947218,156.000000,-0.007735
25%,51.520000,51.531251,51.517500,51.530002,7286.25000,4502.500000,50433.750000,0.000000,9.947677,5405.750000,15091.750000,0.0,2.701063,1166.75000,5282.750000,0.0,1.101809,389.500000,0.013309
50%,52.997499,53.000000,52.977501,52.985001,9911.50000,6149.000000,64235.500000,0.000000,13.112456,9829.500000,20215.000000,0.0,3.432009,3867.00000,7687.000000,0.0,1.282298,510.500000,0.039757
75%,54.476249,54.496249,54.467501,54.483748,17458.25000,7362.250000,110447.500000,1.000000,14.932547,22346.000000,31907.000000,0.0,4.237134,8401.50000,13165.750000,0.0,1.568973,896.500000,0.066742
max,57.500000,57.500000,57.490002,57.490002,69594.00000,21825.000000,297224.000000,1.000000,31.462014,102840.000000,75686.000000,0.0,6.583837,21324.00000,31553.000000,0.0,2.357554,1563.000000,0.124861

In [39]:
norm = sino_int['Comp']
min_max_scaler = preprocessing.MinMaxScaler()
x_scaled = min_max_scaler.fit_transform(np.array(norm).reshape(-1,1))
sino_int['Comp'] = x_scaled

In [40]:
sino_int.describe()

,Open,High,Low,Close,Volume,N of Tweet,sum of Nlike,median of Nlike,avg of Nlike,max of Nlike,sum of retweet,median of retweet,avg of retweet,max of retweet,sum of reply,median of reply,avg of reply,max of reply,Comp
count,32.000000,32.000000,32.000000,32.000000,32.00000,32.000000,32.000000,32.000000,32.000000,32.000000,32.000000,32.0,32.000000,32.00000,32.000000,32.0,32.000000,32.000000,32.000000
mean,53.001928,53.014375,52.991532,53.004125,14059.53125,6717.552083,94803.343750,0.359375,13.620654,18304.343750,24319.312500,0.0,3.639672,5412.87500,9426.010417,0.0,1.365046,667.187500,0.381121
std,2.269983,2.267318,2.269031,2.266261,12825.08112,3608.597990,65981.382788,0.479152,5.170655,22709.134411,14090.163274,0.0,1.181633,5308.65384,5764.505378,0.0,0.325118,410.518589,0.255953
min,49.125000,49.139999,49.110001,49.134998,0.00000,2739.000000,19813.000000,0.000000,7.233662,1322.000000,4419.000000,0.0,1.613363,168.00000,2872.000000,0.0,0.947218,156.000000,0.000000
25%,51.520000,51.531251,51.517500,51.530002,7286.25000,4502.500000,50433.750000,0.000000,9.947677,5405.750000,15091.750000,0.0,2.701063,1166.75000,5282.750000,0.0,1.101809,389.500000,0.158706
50%,52.997499,53.000000,52.977501,52.985001,9911.50000,6149.000000,64235.500000,0.000000,13.112456,9829.500000,20215.000000,0.0,3.432009,3867.00000,7687.000000,0.0,1.282298,510.500000,0.358169
75%,54.476249,54.496249,54.467501,54.483748,17458.25000,7362.250000,110447.500000,1.000000,14.932547,22346.000000,31907.000000,0.0,4.237134,8401.50000,13165.750000,0.0,1.568973,896.500000,0.561677
max,57.500000,57.500000,57.490002,57.490002,69594.00000,21825.000000,297224.000000,1.000000,31.462014,102840.000000,75686.000000,0.0,6.583837,21324.00000,31553.000000,0.0,2.357554,1563.000000,1.000000

# Save Data

In [44]:
sino_int.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 32 entries, 0 to 31
Data columns (total 21 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   Datetime           32 non-null     datetime64[ns]
 1   Open               32 non-null     float64
 2   High               32 non-null     float64
 3   Low                32 non-null     float64
 4   Close              32 non-null     float64
 5   Volume             32 non-null     int64
 6   N of Tweet         32 non-null     float64
 7   sum of Nlike       32 non-null     float64
 8   median of Nlike    32 non-null     float64
 9   avg of Nlike       32 non-null     float64
 10  max of Nlike       32 non-null     int64
 11  sum of retweet     32 non-null     float64
 12  median of retweet  32 non-null     int64
 13  avg of retweet     32 non-null     float64
 14  max of retweet     32 non-null     int64
 15  sum of reply       32 non-null     float64
 16  median of reply    32 non-null     int64
 17  avg of reply       32 non-null     float64
 18  max of reply       32 non-null     int64
 19  Comp               32 non-null     float64
 20  day_of_week        32 non-null     object
dtypes: datetime64[ns](1), float64(13), int64(6), object(1)
memory usage: 5.5+ KB

In [45]:
os.chdir(os.getcwd())
work_folder = "C:\\Users\\Utente\\Esercitazioni DataMan\\Dm_project\\Scripts\\DataMan_project\\Dataset_integrati\\Astra\\"
sino_int.to_csv(work_folder+'astra_D_integrato.csv', sep=';')